<tr>
   <td width="102px">
		<% img = logo_helper(empresasresultado.cluster_id, empresasresultado.empresa_id) %>
		<% if !img.nil? %>
			<%= link_to(image_tag(img), bazarcms_empresa_path(empresasresultado.empresa_id, :bazar_id => empresasresultado.cluster_id)) %> 
		<% end %>
  </td>
  
  <td>
	<%= link_to(empresasresultado.info, bazarcms_empresa_path(empresasresultado.empresa_id, :bazar_id => empresasresultado.cluster_id)) %>
	<%= helper_rating_show2(empresasresultado.cluster_id, empresasresultado.empresa_id).html_safe %>
  </td>
  <td>
	<%= link_to(Cluster::find_by_id(empresasresultado.cluster_id).nombre, Cluster::find_by_id(empresasresultado.cluster_id).url)  %>
  </td>
  <td>
	<%= link_to image_tag("email.png"), new_mensaje_url+"?aquien=#{empresasresultado.empresa_id}&bazar_destino=#{empresasresultado.cluster_id}&nombre=#{empresasresultado.info}&tipo=M", :title => 'Correo electrónico' %>
	<%= helper_favo(empresasresultado.cluster_id, empresasresultado.empresa_id, empresasresultado.info, "consu") %>
  </td>
</tr>