
  <tr>
  	<td>
		<% if empresasconsulta.desc == '*' %>
			Cualquier empresa
		<% else %>
			Empresas que cumplen con: <%= empresasconsulta.desc %>
		<% end %>
	</td>
  	<td><%= empresasconsulta.total_consultas %>/<%= empresasconsulta.total_respuestas %></td>
  	<td><%= empresasconsulta.total_resultados %></td>
  	<td>
	<% if (!empresasconsulta.fecha_inicio.nil?) %>
		<%= empresasconsulta.fecha_inicio.strftime("%Y-%m-%d %H:%M") -%>
	<% else %>
		-
	<% end %>
	
  	<% if empresasconsulta.total_resultados > 0 %>
		<td><%= link_to image_tag('lupa.png'), empresasconsulta, :title => 'Ver Resultados' %></td>
	<% else %>
		<td></td>
	<% end %>
    <td><%= link_to image_tag('delete.png'), empresasconsulta, :confirm => '¿Está seguro de querer borrar la consulta?', :method => :delete, :title => 'Borrar Consulta' %></td>
  </tr>
