<a class="volver-home-link" href="/home">Volver a la página de búsquedas</a>
<h3 class="page-title">Consultas</h3>

<table class="tabla" cellspacing="0">
  <tr>
    <th>Desc</th>
    <th>Consultados</th>
    <th>Resultados</th>
    <th>SQL</th>
    <th>Lanzada</th>
    <th colspan="3">Acciones</th>
  </tr>

<% @empresasconsultas.each do |empresasconsulta| %>
  <tr>
  	<td><%= empresasconsulta.desc %></td>
  	<td><%= empresasconsulta.total_consultas %>/<%= empresasconsulta.total_respuestas %></td>
  	<td><%= empresasconsulta.total_resultados %></td>
  	<td><%= empresasconsulta.sql %></td>
  	<td>
	<% if (!empresasconsulta.fecha_inicio.nil?) %>
		<%= empresasconsulta.fecha_inicio.strftime("%Y-%m-%d %H:%M") -%>
	<% else %>
		Sin fecha de Inicio
	<% end %>
	-
	<% if (!empresasconsulta.fecha_fin.nil?) %>
		<%= empresasconsulta.fecha_fin.strftime("%H:%M") -%></td>
	<% else %>
		Sin fecha de Inicio
	<% end %>


  	<% if empresasconsulta.total_resultados > 0 %>
		<td><%= link_to image_tag('lupa.png'), empresasconsulta %></td>
	<% else %>
		<td></td>
	<% end %>
    <td><%= link_to image_tag('delete.png'), empresasconsulta, :confirm => '¿Está seguro de querer borrar la consulta?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @empresasconsultas %>
<br />

<%= link_to 'Buscar Empresas', '/home' %> |
<%= link_to 'Borrar consultas realizadas', '/bazarcms/borrarconsultas', :confirm => '¿Está seguro de querer borrar todas las consultas?' %>