<b>Consultas</b>

<table>
  <tr>
    <th>Empresa</th>
    <th>Desc</th>
    <th>Consultados</th>
    <th>Resultados</th>
    <th>SQL</th>
    <th>Inicio</th>
    <th>Fin</th>

    t.integer  :empresa_id
    t.string   :desc
    t.integer  :total_consultas
    t.integer  :total_respuestas
    t.integer  :total_resultados
    t.datetime :fecha_inicio
    t.datetime :fecha_fin
    t.text     :sql
    <th colspan="3">Acciones</th>
  </tr>

<% @empresasconsultas.each do |empresasconsulta| %>
  <tr>
  	<td><%= empresasconsulta.empresa_id %></td>
  	<td><%= empresasconsulta.desc %></td>
  	<td><%= empresasconsulta.total_consultas %>/<%= empresasconsulta.total_respuestas %></td>
  	<td><%= empresasconsulta.total_resultados %></td>
  	<td><%= empresasconsulta.sql %></td>
  	<td><%= empresasconsulta.fecha_inicio %></td>
  	<td><%= empresasconsulta.fecha_fin %></td>
  	<td><%= link_to 'Show', empresasconsulta %></td>
    <td><%= link_to 'Edit', edit_bazarcms_empresasconsulta_path(empresasconsulta) %></td>
    <td><%= link_to 'Destroy', empresasconsulta, :confirm => 'Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Consulta de Empresas', new_bazarcms_ubicacion_path %>