<!-- TODO JT meter will paginate -->

<h3>Resultados de la búsqueda de: <span class="query-busqueda"><%= @consulta.desc %></span></h3>
<p class="total"><strong>Total:</strong> <%= @consulta.total_resultados %> empresas de <%= @consulta.total_respuestas %> bazares.</p>

<table class="tabla" cellspacing="0">
<tr>
  <th>Bazar</th>
  <th>Empresa</th>
  <th></th>
</tr>	

<% for resu in @consulta.empresasresultados %>
<tr>
  <td>
	<%= link_to(Cluster::find_by_id(resu.cluster_id).nombre, Cluster::find_by_id(resu.cluster_id).url)  %>
  </td>
  <td>
	<%= resu.info %>
  </td>
  <td>
	<%= link_to image_tag("email.png"), new_mensaje_url+"?aquien=#{resu.empresa_id}&bazar_destino=#{resu.cluster_id}&nombre=#{resu.info}&tipo=M", :title => 'Correo electrónico' %>
	<!-- TODO: hay que resolver lo del nombre de la empresa en resultados -->
	<%= helper_favo(resu.cluster_id, resu.empresa_id, resu.info, "consu") %>
  </td>
</tr>	
<% end%>

</table>
