
<h3><%=t(:text_resultados_de_la_b_squeda)%><span class="query-busqueda"></span></h3>
<p class="total"><strong><%=t(:text_total)%></strong> <%= @consulta.total_resultados %><%=t(:text_empresas_de)%><%= @consulta.total_respuestas %><%=t(:text_bazares)%></p>

<% if params[:display] == 'inside' %>
	<% @empresasresultados = @consulta.empresasresultados.order('orden desc').limit(10) %>
<% else %> 
	<% @empresasresultados = @consulta.empresasresultados.order('orden desc') %>
<% end %>

<table id="results" class="tabla" cellspacing="0">

<tr>
  <th><%=t(:text_empresa)%></th>
  <th><%=t(:text_origen)%></th>
  <th></th>
</tr>	

<% for resu in @empresasresultados %>
<tr>
  <td>
	<%= link_to(resu.info, bazarcms_empresa_path(resu.empresa_id, :bazar_id => resu.cluster_id)) %>
	<%= helper_rating_show2(resu.cluster_id, resu.empresa_id).html_safe %>
  </td>
  <td>
	<%= link_to(Cluster::find_by_id(resu.cluster_id).nombre, Cluster::find_by_id(resu.cluster_id).url)  %>
  </td>
  <td>
	<%= link_to image_tag("email.png"), new_mensaje_url+"?aquien=#{resu.empresa_id}&bazar_destino=#{resu.cluster_id}&nombre=#{resu.info}&tipo=M", :title => 'Correo electrónico' %>
	<%= helper_favo(resu.cluster_id, resu.empresa_id, resu.info, "consu") %>
  </td>
</tr>	
<% end%>

</table>

<% if params[:display] == 'inside' %>
	<% if @consulta.total_resultados > 10 %>
		<%= link_to("Ver más resultados (#{@consulta.total_resultados-10}+) &raquo;".html_safe, "/bazarcms/empresasresultados/#{@consulta.id}", :class => "volver-home-link") %>
	<% end %>
<% else %>

<% end %>
