<!-- TODO JT meter will paginate -->
<b>Resultados busqueda: <%= @consulta.desc %></b> Total: <%= @consulta.total_resultados %> empresas de <%= @consulta.total_respuestas %> bazares

<table class="tabla">
<tr>
  <th>Bazar</th>
  <th>Empresa</th>
  <th>Enlace</th>
</tr>	

<% for resu in @consulta.empresasresultados %>
<tr>
  <td>
	<%= link_to(Cluster::find_by_id(resu.cluster_id).nombre, Cluster::find_by_id(resu.cluster_id).url)  %>
  </td>
  <td>
	<%= resu.info %>
  </td>
  <td>
	<%= resu.enlace %>
  </td>
</tr>	
<% end%>

</table>
