<% if @perfiles.count == 0 %>
	<p><%=t(:text_no_tiene_ningun_sector_asociado_a_su_empresa)%></p>
	<p><%=t(:text_para_encontrar_el_sector_que_mas_se_ajusta_a_su_empresa_escriba_una_o_varias_palabras_que_defina_el_sector_al_que_pertenece)%></p>
	<p><%=t(:text_puede_escoger_tantos_como_crea_convenientes_y_actualizarlos_en_cualquier_momento)%></p>
	<p><%=t(:text_cuantos_mas_digitos_tengo_el_codigo_mas_especifica_su_actividad)%></p>

<% else %>

	<% for perfil in @perfiles %>
        <div class="perfil">
            <div class="nombre-perfil">
                <strong><%=  perfil.codigo -%></strong>
        		<%=  Bazarcms::Perfil.find_by_codigo(perfil.codigo).desc -%>
    		</div>
    		<span class="opciones-perfil">
                <img title="Ver Descripción" src='/images/help.png' border='0' onclick="$('#<%= perfil.tipo -%><%= perfil.codigo-%>').slideToggle(300);">
                <img title="Eliminar" src='/images/papelera.png' border='0' onclick="borra('<%= perfil.codigo-%>', '<%= perfil.tipo %>');">
            </span>
            <div class="descripcion-perfil" id="<%= perfil.tipo -%><%= perfil.codigo-%>" style="display:none">
    			<p>
    			<%=  Bazarcms::Perfil.find_by_codigo(perfil.codigo).ayuda.sub(/.*\n/,'').gsub(/\n/,'<br/>').html_safe -%>
    			</p>
    			<a class="ocultar-link" href="#" onclick="$('#<%= perfil.tipo -%><%= perfil.codigo-%>').slideToggle(300);"><%=t(:text_ocultar_la_descripcion)%></a>
    		</div>
		</div>
	<% end %>
<% end %>

<script>

function borra (cod, tipo) {
	
	if (tipo == "O") {
		$('#missectores').load('/bazarcms/delperfil?tipo=O&codigo='+cod);
	}
	else {
		$('#misdemandas').load('/bazarcms/delperfil?tipo=D&codigo='+cod);
	}
	
}

</script>
