<% if @perfiles.count == 0 %>
	<p>No tiene ningún sector asociado a su empresa.</p>
	<p>Para encontrar el sector que más se ajusta a su empresa, escriba una o varias palabras que defina el sector al que pertenece.</p>
	<p>Puede escoger tantos como crea convenientes y actualizarlos en cualquier momento.</p>
	<p>Cuantos más dígitos tengo el código más especifica su actividad.</p>

<% else %>

	<% for perfil in @perfiles %>
        <div class="perfil">
            <div class="nombre-perfil">
                <strong><%=  perfil.codigo -%></strong>
        		<%=  Bazarcms::Perfil.find_by_codigo(perfil.codigo).desc -%>
    		</div>
    		<span class="opciones-perfil">
                <img title="Ver Descripción" src='/images/help.png' border='0' onclick="$('#<%= perfil.tipo -%><%= perfil.codigo-%>').slideToggle(300);">
                <img title="Eliminar" src='/images/papelera.png' border='0' onclick="borra('<%= perfil.codigo-%>', '<%= perfil.tipo %>');">
            </span>
            <div class="descripcion-perfil" id="<%= perfil.tipo -%><%= perfil.codigo-%>" style="display:none">
    			<p>
    			<%=  Bazarcms::Perfil.find_by_codigo(perfil.codigo).ayuda.sub(/.*\n/,'').gsub(/\n/,'<br/>').html_safe -%>
    			</p>
    			<a class="ocultar-link" href="#" onclick="$('#<%= perfil.tipo -%><%= perfil.codigo-%>').slideToggle(300);">Ocultar la descripción</a>
    		</div>
		</div>
	<% end %>
<% end %>

<script>

function borra (cod, tipo) {
	
	if (tipo == "O") {
		$('#missectores').load('/bazarcms/delperfil?tipo=O&codigo='+cod);
	}
	else {
		$('#misdemandas').load('/bazarcms/delperfil?tipo=D&codigo='+cod);
	}
	
}

</script>
