<% if !current_user.nil? %>
	<a class="volver-home-link" href="/home"><%=t(:text_volver_a_la_pagina_de_busquedas)%></a>
<% end %>

<h3 class="page-title"><%=t(:text_datos_del_sector)%> <%= @perfil.codigo -%>: <%= @perfil.desc -%></h3>

<table id="results" class="tabla" cellspacing="0">

	<tr>
		<td colspan="2">
			<b><%=t(:text_actividades_que_engloba_este_sector)%></b>
		</td>
	<tr>
	</tr>
		<td colspan="2">
			<% if !@perfil.ayuda.nil? %>
				<%= @perfil.ayuda.gsub(/\n/,'<br/>').html_safe %>
			<% end %> 
		</td>

	</tr>
	<tr>
		<td>
			<b><%=t(:text_empresas_del_bazar_en_este_sector)%></b>
		</td>
		
		<td>
			<%= @perfil.total_empresas_bazar %>
		</td>

	</tr>
	<tr>
		<td>
			<b><%=t(:text_total_empresas_en_la_red)%></b>
		</td>

		<td>
			<%= @perfil.total_empresas_mercado %>
		</td>

	</tr>
	
</table>

<br />

<h3 class="page-title"><%=t(:text_empresas_de_este_sector)%></h3>

<table id="results" class="tabla" cellspacing="0">
	
<% for empresa in Bazarcms::Empresasperfil.where("codigo = ? and tipo = 'O'", @perfil.codigo) %>

	<tr>
		
		<td>
			<% empre = Bazarcms::Empresa.find(empresa.empresa_id) %>
			<%= link_to(empre.nombre, '/bazarcms/empresas/show2/'+empre.friendly_id+'?bazar_id='+BZ_param('BazarId')) %>
		</td>
		
	</tr>
		
<% end %>

</table>

<h3 class="page-title"><%=t(:text_empresas_que_demandan_este_sector)%></h3>

<table id="results" class="tabla" cellspacing="0">
	
<% for empresa in Bazarcms::Empresasperfil.where("codigo = ? and tipo = 'D'", @perfil.codigo) %>

	<tr>
		
		<td>
			<% empre = Bazarcms::Empresa.find(empresa.empresa_id) %>
			<%= link_to(empre.nombre, '/bazarcms/empresas/show2/'+empre.friendly_id+'?bazar_id='+BZ_param('BazarId')) %>
		</td>
		
	</tr>
		
<% end %>

</table>


<% if current_user.nil? %>

<br/>
<br/>

<b><%=t(:text_es_necesario_registrarse_para_poder_usar_bazar)%></b>

<br/>
<br/>

<a class="volver-home-link" href="/home/datos"><%=t(:text_los_datos_de_este_bazar)%></a>
<a class="volver-home-link" href="/home/registrarse"><%=t(:text_darse_de_alta_en_este_bazar)%></a>
<a class="volver-home-link" href="/home/bazares"><%=t(:text_que_es_un_bazar)%></a>

<% end %>
