<div>

<%= form_for(@empresa) do |f| %>

  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> No se ha podido salvar los datos de la empresa:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
	<tr>
		<td>
    		<%= f.label :Nombre %>
		</td>
		<td colspan="2">
		    <%= f.text_field :nombre, :size => "40" %>			
		</td>
 	</tr>
	<tr>
		<td colspan='4'>
    		<%= f.label :Descripción %>
		</td>
	</tr>
	<tr>
		<td colspan='4'>
    		<%= f.text_area(:desc, :size => "60x15") %>
		</td>
	</tr>
	<tr>
		<td>
    		<%= f.label :Fundada %><br />
		</td>
		<td>
    		<%= f.text_field :fundada %>
		</td>
  		<td>
    		<%= f.label :Moneda %><br />
    	</td>
		<td>
			<%= f.select :moneda, options_for_select(Bazarcms::Empresa.Monedas, @empresa.moneda) %>
		</td>
	</tr>
	<tr>
		<td colspan="3">
    		<b>Ofrecemos: </b> (Tags separados por comas)
		</td>
	</tr>
	<tr>
		<td colspan="4">
		    <%= f.text_area :actividad_list, :size => "60x4" %>			
		</td>
 	</tr>
	<tr>
		<td colspan="3">
    		<b>Nos Interesa: </b> (tags separados por comas)
		</td>
	</tr>
	<tr>
		<td colspan="4">
		    <%= f.text_area :interes_list, :size => "60x4" %>			
		</td>
 	</tr>

</table>

<div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>

<br/>
<b>Información Económica</b>
<br />

<table class="tabla">	
	<tr>
		<th>Año</th>
		<th>Empleados</th>
		<th>Compras</th>
		<th>Ventas</th>
		<th>Resultados</th>
		<th>Acción</th>
	</tr>

	<% for emp in @empresasdatos do %>

	<tr>
		<td> <%= emp.periodo %> </td>
		<td> <%= Bazarcms::Empresasdato.REtexto(emp.empleados) %> </td>
		
		<td> <%= Bazarcms::Empresasdato.RDtexto(emp.compras) %> </td>
		<td> <%= Bazarcms::Empresasdato.RDtexto(emp.ventas) %> </td>
		<td> <%= Bazarcms::Empresasdato.RDtexto(emp.resultados) %> </td>
		<td><%= link_to (image_tag("pencil.png", :border => "0"), edit_bazarcms_empresasdato_path(emp))  %></td>
	</tr>
	
	<% end %>
</table>

</div>
