<a class="volver-home-link" href="/home"><%=t(:text_volver_a_la_pagina_de_busquedas)%></a>

<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
	</script>

<div class="home" style="background:white;align:center;margin:0 auto;">

<h2 class="page-title">Mi empresa - <%= @empresa.nombre %> (Editar información)</h2>

    <div id="tabs" style="text-align: left;">
    	<ul>
    	    <li><a href="#tabs-1"><%=t(:text_informacion)%></a></li>
    	    <li><a href="#tabs-2"><%=t(:text_datos)%></a></li>
    	    <li><a href="#tabs-3"><%=t(:text_ubicaciones)%></a></li>
    	    <li><a href="#tabs-4"><%=t(:text_sectores)%></a></li>
    	    <li><a href="#tabs-5"><%=t(:text_ficheros)%></a></li>
    	    <li><a href="#tabs-6"><%=t(:text_actividad)%></a></li>
    	</ul>

        <div id="tabs-1">

            <%= form_for(@empresa, :html => { :multipart => true }) do |f| %>

              <% if @empresa.errors.any? %>
                <div id="error_explanation">
                  <h2>
					<%=t(:text_no_se_ha_podido_salvar_los_datos_de_la_empresa)%></h2>

                  <ul>
                  <% @empresa.errors.full_messages.each do |msg| %>
                    <li><%= msg %><br/></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

            <p><%= f.label :Nombre %>
            <%= f.text_field :nombre, :size => "40" %></p>

            <p><%= f.label :Descripción %>
            <%= f.text_area(:desc, :size => "60x15") %></p>

            <p><%= f.label :Fundada %>
            <%= f.text_field :fundada %></p>

            <p><%= f.label :Moneda %>
            <%= f.select :moneda, options_for_select(Bazarcms::Empresa.Monedas, @empresa.moneda) %></p>

            <p><%= f.label :Web %>
            <%= f.text_field :url, :size => 40 %></p>

			<p><%= f.label :Logo %></p>
			<p><%= image_tag @empresa.logo.url(:thumb) %></p>
			
			<p><%= f.file_field :logo %></p>

            <p><label for="bazarcms_empresa_actividad_list"><%=t(:text_ofrecemos)%><span class="form-help"><%=t(:text_tags_separados_por_comas)%></span></label>
            <%= f.text_area :actividad_list, :size => "60x4" %></p>

            <p><label for="bazarcms_empresa_interes_list"><%=t(:text_nos_interesa)%><span class="form-help"><%=t(:text_tags_separados_por_comas)%></span></label>
            <%= f.text_area :interes_list, :size => "60x4" %></p>


            <div class="actions">
                <%= f.submit "Guardar" %>
              </div>
            <% end %>

        </div>

        <div id="tabs-2">

            <h3><%=t(:text_informacion_economica)%></h3>


            <table class="tabla" cellspacing="0">
            	<tr>
            		<th><%=t(:text_ano)%></th>
            		<th><%=t(:text_empleados)%></th>
            		<th><%=t(:text_compras)%></th>
            		<th><%=t(:text_ventas)%></th>
            		<th><%=t(:text_resultados)%></th>
            		<th><%=t(:text_accion)%></th>
            	</tr>

            	<% for emp in @empresasdatos do %>

            	<tr>
            		<td class="datostd"> <%= emp.periodo %> </td>
            		<td class="datostd"> <%= Bazarcms::Empresasdato.REtexto(emp.empleados) %> </td>
            		<td class="datostd"> <%= Bazarcms::Empresasdato.RDtexto(emp.compras) %> </td>
            		<td class="datostd"> <%= Bazarcms::Empresasdato.RDtexto(emp.ventas) %> </td>
            		<td class="datostd"> <%= Bazarcms::Empresasdato.RDtexto(emp.resultados) %> </td>
            		<td><%= link_to(image_tag("pencil.png", :border => "0", :title => "Editar"), edit_bazarcms_empresasdato_path(emp))  %></td>
            	</tr>

            	<% end %>
            </table>

        </div>

        <div id="tabs-3">

            <table class="tabla" cellspacing="0">
            <tr>
              <th colspan="3">
                <%=t(:text_ubicaciones)%>
              </th>
            </tr>

            <% for ubi in @empresa.ubicaciones %>
            <tr>
            <th scope="row">
            	<%= ubi.desc %>
            </th>

            <td>
				<% if !ubi.ciudad.nil? %>
            		<%= ubi.ciudad.descripcion -%>, <%= ubi.ciudad.pais.descripcion -%>
				<% else %>
					<%=t(:text_seleccione_una_ciudad_para_esta_ubicacion)%>
				<% end %>
            </td>

            <td class="dos-iconos">
            	<a href="#" title="Editar" onclick="$('#addubi').load('<%= edit_bazarcms_ubicacion_path(ubi) -%>?empresa='+<%= params[:id] -%>);"><%= image_tag("pencil.png") %></a>
            	<%= link_to image_tag("papelera.png"), ubi, :confirm => '¿Está seguro?', :method => :delete, :title => 'Eliminar' %>
            </td>

            </tr>
            <% end %>
            </table>


            <div id="addubi">
            </div>

            <p><a href="#" onclick="$('#addubi').load('<%= new_bazarcms_ubicacion_path -%>?empresa='+<%= params[:id] -%>);"><%= image_tag("add.png") %></a>
            <a href="#" onclick="$('#addubi').load('<%= new_bazarcms_ubicacion_path -%>?empresa='+<%= params[:id] -%>);"><%=t(:text_anadir_una_nueva_ubicacion)%></a></p>

        </div>

        <div id="tabs-4">

			<h3><%=t(:text_nuestra_actividad)%></h3>	
			<table cellspacing="0" class="tabla">
				<tr><th><%=t(:text_sectores_disponibles)%></th><th><%=t(:text_mis_sectores)%></th></tr>
				<tr>
					<td valign="top" style="width: 400px;">
					<form action="#loquesea" >
					 	<%=t(:text_buscar_en_sectores)%><input type="text" name="q" id="query1" />
					 </form>
					</td>					
					<td>
						<div id="missectores">
							<%=t(:text_seleccione_algun_sector_en_la_caja_de_busqueda)%>
						</div>
					</td>
				</tr>
			</table>

			<h3><%=t(:text_nos_interesa)%></h3>	
			<table cellspacing="0" class="tabla">
				<tr><th><%=t(:text_sectores_disponibles)%></th><th><%=t(:text_sectores_seleccionados)%></th></tr>
				<tr>
					<td valign="top" style="width: 400px;">
					<form action="#" >
					 	<%=t(:text_buscar_en_sectores)%><input type="text" name="q" id="query2" />
					 </form>
					</td>					
					<td>
						<div id="misdemandas">
							<%=t(:text_seleccione_algun_sector_en_la_caja_de_busqueda)%>
						</div>
					</td>
				</tr>
			</table>

        </div>

        <div id="tabs-5">
          <p><%=t(:text_coming_soon)%></p>
        </div>

        <div id="tabs-6">
          <p><%=t(:text_coming_soon)%></p>
        </div>

    </div>

</div>

<script type="text/javascript">
 //<![CDATA[

// eliminamos que puedan pulsar enter en la caja de sectores

$(function () {
    $('#query1').keypress(function (e) {
        var code = null;
        code = (e.keyCode ? e.keyCode : e.which);
        return (code == 13) ? false : true;
    });
    $('#query2').keypress(function (e) {
        var code = null;
        code = (e.keyCode ? e.keyCode : e.which);
        return (code == 13) ? false : true;
    });

});



// cargo los perfiles del usuario

$("#missectores").load('/bazarcms/listaperfiles?tipo=O');
$("#misdemandas").load('/bazarcms/listaperfiles?tipo=D');

var a1;
 
jQuery(function() {
 
	var options = {
	  width: 300,
	  delimiter: /(,|;)\s*/,
	  deferRequestBy: 150, //miliseconds
	  params: { tipo: 'O' },
	  source: "/bazarcms/busquedaperfiles.json?tipo=O",
	  minLength: 3,
	  select: function(event, ui) {

	    $("#missectores").load('/bazarcms/addperfil?tipo=O&codigo='+ui.item.id);
		$("#query1").val("");

		return false;
	  },
	  noCache: false //set to true, to disable caching
	};
 
	a1 = $('#query1').autocomplete(options);
  
	var options = {
	  width: 300,
	  delimiter: /(,|;)\s*/,
	  deferRequestBy: 150, //miliseconds
	  params: { tipo: 'O' },
	  source: "/bazarcms/busquedaperfiles.json?tipo=D",
	  minLength: 3,
	  select: function(event, ui) {

	    $("#misdemandas").load('/bazarcms/addperfil?tipo=D&codigo='+ui.item.id);
		$("#query2").val("");
		
		return false;
	  },
	  noCache: false //set to true, to disable caching
	};
 
	a1 = $('#query2').autocomplete(options);

});
 
//]]>
</script>

