<% if @consulta.total_resultados == 0 %>

	<h3><%=t(:text_no_hay_empresas_con_los_criterios_seleccionados_rev_selos_y_vuelva_a_realizar_la_consulta)%></h3>
<% else %>

	<h3><%=t(:text_con_estos_criterios_de_b_squeda_hay)%><b><%= @consulta.total_resultados -%></b><%=t(:text_empresas)%></h3>
	<input type="hidden" id="consultaid" value="<%= @consulta.id -%>"/>
	<p><%=t(:text_si_la_cantidad_le_parece_adecuada_puede_proceder_a_rellenar_los_de_la_oferta_demanda)%></p>
	<script>
	
	$(function() {

		$('#bazarcms_oferta_cid').val('<%= @consulta.id -%>');
		$('#bazarcms_oferta_total_empresas').val('<%= @consulta.total_resultados -%>');

	});
	
	</script>

<% end %>
