
<table class="tabla">
<tr>
	<th>
		<%=t(:text_empresa)%>
	</th>
	<td>	
		<%= @empresa.nombre %>
	</td>

</tr>
</table> 

<br/>
<h4 class="titulo-seccion"><%=t(:text_informacion)%></h4>
<table class="tabla">
<tr>
	<td>
		<b><%=t(:text_descripcion)%></b>
	</td>
	<td colspan=4>	
		<%= @empresa.desc %>
	</td>
</tr>

<tr>
	<td>
		<b><%=t(:text_fundada)%></b>
	</td>
	<td>	
		<%= @empresa.fundada %>
	</td>
	<td>
		<b><%=t(:text_moneda)%></b>
	</td>
	<td>	
		<%= Bazarcms::Empresa.Monedastexto(@empresa.moneda) %>
	</td>
</tr>

<tr>
	<td>
		<b><%=t(:text_pagina_web)%></b>
	</td>
	<td colspan="3">
		<% if !@empresa.url.nil? %>	
			<%= link_to(@empresa.url,  @empresa.url) %>
		<% else %>
			-
		<% end %>	
	</td>
</tr>

<tr>
	<td>
		<b><%=t(:text_ofrecen)%></b>
	</td>
	<td colspan="4">	
		<%= @empresa.actividad_list %>
	</td>
</tr>

<tr>
	<td>
		<b><%=t(:text_demandan)%></b>
	</td>
	<td colspan="4">	
		<%= @empresa.interes_list %>
	</td>
</tr>


</table> 

<br/>
<h4 class="titulo-seccion"><%=t(:text_sectores_que_ofertan)%></h4>

<table class="tabla" cellspacing="0">

<% for sec in Bazarcms::Empresasperfil.where ("empresa_id = ? and tipo = 'O'", @empresa.id) %>
<tr>
<th scope="row">
	<a href="/bazarcms/perfiles/<%= Bazarcms::Perfil.find_by_codigo(sec.codigo).friendly_id -%>"><%= sec.codigo -%></a>
</th>

<td>
	<%= Bazarcms::Perfil.find_by_codigo(sec.codigo).desc -%>
</td>

</tr>
<% end %>
</table>


<br/>

<h4 class="titulo-seccion"><%=t(:text_sectores_que_demandan)%></h4>

<table class="tabla" cellspacing="0">

<% for sec in Bazarcms::Empresasperfil.where ("empresa_id = ? and tipo = 'D'", @empresa.id) %>
<tr>
<th scope="row">
	<a href="/bazarcms/perfiles/<%= Bazarcms::Perfil.find_by_codigo(sec.codigo).friendly_id -%>"><%= sec.codigo -%></a>
</th>

<td>
	<%= Bazarcms::Perfil.find_by_codigo(sec.codigo).desc -%>
</td>

</tr>
<% end %>
</table>


<br/>


<br/>
<h4 class="titulo-seccion"><%=t(:text_ubicaciones)%></h4>

<table class="tabla" cellspacing="0">

<% for ubi in @empresa.ubicaciones %>
<tr>
<th scope="row">
	<%= ubi.desc %>
</th>

<td>
	<% if !ubi.ciudad.nil? %>
		<%= link_to(ubi.ciudad.descripcion, ciudades_path+'/'+ubi.ciudad.friendly_id) %>, 
		<%= link_to(ubi.ciudad.pais.descripcion, paises_path+'/'+ubi.ciudad.pais.friendly_id) %>
	<% else %>
		<%=t(:text_ciudad_incorrecta)%>
	<% end %>
</td>

</tr>
<% end %>
</table>

<h4 class="titulo-seccion"><%=t(:text_ofertas_que_ha_realizado)%></h4>

<table class="tabla" cellspacing="0">

<% for ofe in Bazarcms::Oferta.where("empresa_id = ? and bazar_id = ? and tipo = 'O' ", @empresa.id, BZ_param('BazarId')).order('fecha desc').limit(20) %>
<tr>
<th scope="row">
	<%= link_to ofe.titulo, bazarcms_oferta_path(ofe.id, :bazar_id => ofe.bazar_id) %>	
</th>

<td>
	<%= ofe.fecha.strftime ("%d-%m-%Y") -%>
</td>

</tr>
<% end %>
</table>

<br/>

<h4 class="titulo-seccion"><%=t(:text_demandas_que_ha_realizado)%></h4>

<table class="tabla" cellspacing="0">

<% for ofe in Bazarcms::Oferta.where("empresa_id = ? and bazar_id = ? and tipo = 'D' ", @empresa.id, BZ_param('BazarId')).order('fecha desc').limit(20) %>
<tr>
<th scope="row">
	<%= link_to ofe.titulo, bazarcms_oferta_path(ofe.id, :bazar_id => ofe.bazar_id) %>	
</th>

<td>
	<%= ofe.fecha.strftime ("%d-%m-%Y") -%>
</td>

</tr>
<% end %>
</table>

<br/>

<br/>
<b><%=t(:text_para_ver_mas_informacion_de_esta_empresa_registrese_en_un_bazar)%></b>
<br/>
<br/>

<a class="volver-home-link" href="/home/datos"><%=t(:text_los_datos_de_este_bazar)%></a>
<a class="volver-home-link" href="/home/registrarse"><%=t(:text_darse_de_alta_en_este_bazar)%></a>
<a class="volver-home-link" href="/home/bazares"><%=t(:text_que_es_un_bazar)%></a>




