<table class="tabla" cellspacing="0">
<tr>
	<th scope="row">
		Empresa:
	</th>
	<td>	
		<%= @empresa.nombre %>
	</td>
</tr>
</table>

<table class="tabla" cellspacing="0">
<tr>
	<td>
		<b>Descripción:</b>
	</td>
	<td colspan=4>	
		<%= @empresa.desc %>
	</td>
</tr>

<tr>
	<th scope="row">
		Fundada:
	</th>
	<td>	
		<%= @empresa.fundada %>
	</td>
	<th scope="row">
		Moneda:
	</th>
	<td>	
		<%= Bazarcms::Empresa.Monedastexto(@empresa.moneda) %>
	</td>
</tr>

<tr>
	<th scope="row">
		Página Web:
	</th>
	<td colspan="3">	
		<%= link_to(@empresa.url,  @empresa.url) %>
	</td>
</tr>

<tr>
	<th scope="row">
		Ofrecen:
	</th>
	<td colspan="4">	
		<%= @empresa.actividad_list %>
	</td>
</tr>

<tr>
	<th scope="row">
		Demandan:
	</th>
	<td colspan="4">	
		<%= @empresa.interes_list %>
	</td>
</tr>


</table>