
<h3 class="titulo-destacado"><%= @empresa.nombre %></h3>

<table boder="0">
<tr>
	<td>
	show normal: 
	</td>
	<td>	
		<%= link_to image_tag("email.png"), "/mensajes/new?aquien=2&tipo=M"+"?aquien=#{@empresa.id}&tipo=M&bazar_id=#{BZ_param("BazarId")}", :title => 'Enviar Mensaje de Correo' %>
	</td>
	<td>
		<%= helper_favo(BZ_param("BazarId"), @empresa.id, @empresa.nombre, "ult") %>
	</td>
</tr>
</table>

</br>

<h4 class="titulo-seccion">Empresa</h4>

<table class="tabla" cellspacing="0">
<tr>
	<th scope="row">
		Descripci칩n:
	</th>
	<td colspan=4>	
		<%= @empresa.desc %>
	</td>
</tr>

<tr>
	<th scope="row">
		Fundada:
	</th>
	<td>	
		<%= @empresa.fundada %>
	</td>
</tr>

<tr>
    <th scope="row">
		Moneda:
	</th>
	<td>
		<%= Bazarcms::Empresa.Monedastexto(@empresa.moneda) %>
	</td>
</tr>

<tr>
	<th scope="row">
		P치gina Web:
	</th>
	<td colspan="3">
		<% if !@empresa.url.nil? %> 	
			<%= link_to(@empresa.url,  @empresa.url) %>
		<% else %>
			-
		<% end %>
	</td>
</tr>

<tr>
	<th scope="row">
		Email:
	</th>
	<td colspan="3">	
		<%= @usuario.email %>
	</td>
</tr>


<tr>
	<th scope="row">
		Ofrecen:
	</th>
	<td colspan="4">	
		<%= @empresa.actividad_list %>
	</td>
</tr>

<tr>
	<th scope="row">
		Demandan:
	</th>
	<td colspan="4">	
		<%= @empresa.interes_list %>
	</td>
</tr>


</table>


<h4 class="titulo-seccion">Sectores que Ofertan</h4>

<table class="tabla" cellspacing="0">

<% for sec in Bazarcms::Empresasperfil.where ("empresa_id = ? and tipo = 'O'", @empresa.id) %>
<tr>
<th scope="row">
	<a href="/bazarcms/perfiles/<%= Bazarcms::Perfil.find_by_codigo(sec.codigo).friendly_id -%>"><%= sec.codigo -%></a>
</th>

<td>
	<%= Bazarcms::Perfil.find_by_codigo(sec.codigo).desc -%>
</td>

</tr>
<% end %>
</table>


<br/>

<h4 class="titulo-seccion">Sectores que Demandan</h4>

<table class="tabla" cellspacing="0">

<% for sec in Bazarcms::Empresasperfil.where ("empresa_id = ? and tipo = 'D'", @empresa.id) %>
<tr>
<th scope="row">
	<a href="/bazarcms/perfiles/<%= Bazarcms::Perfil.find_by_codigo(sec.codigo).friendly_id -%>"><%= sec.codigo -%></a>
</th>

<td>
	<%= Bazarcms::Perfil.find_by_codigo(sec.codigo).desc -%>
</td>

</tr>
<% end %>
</table>

<h4 class="titulo-seccion">Datos Econ칩micos</h4>

<table class="tabla" cellspacing="0">
	<tr>
		<th>A침o</th>
		<th>Empleados</th>
		<th>Compras</th>
		<th>Ventas</th>
		<th>Resultados</th>
	</tr>

	<% for emp in @empresasdatos do %>

	<tr>
		<th scope="row"> <%= emp.periodo %> </th>
		<td class="datostd"> <%= Bazarcms::Empresasdato.REtexto(emp.empleados) %> </td>
		<td class="datostd"> <%= Bazarcms::Empresasdato.RDtexto(emp.compras) %> </td>
		<td class="datostd"> <%= Bazarcms::Empresasdato.RDtexto(emp.ventas) %> </td>
		<td class="datostd"> <%= Bazarcms::Empresasdato.RDtexto(emp.resultados) %> </td>
	</tr>

	<% end %>
</table>
<br/>
<h4 class="titulo-seccion">Ubicaciones</h4>

<table class="tabla" cellspacing="0">

<% for ubi in @empresa.ubicaciones %>
<tr>
<th scope="row">
	<%= ubi.desc %>
</th>

<td>
	
	<% if !ubi.ciudad.nil? %>
	  	<%= link_to(ubi.ciudad.descripcion, ciudades_path+'/'+ubi.ciudad.friendly_id) %>, 
		<%= link_to(ubi.ciudad.pais.descripcion, paises_path+'/'+ubi.ciudad.pais.friendly_id) %>
	<% else %>
		Ciudad Incorrecta.
	<% end %>

</td>

</tr>
<% end %>
</table>

<h4 class="titulo-seccion">Ofertas que ha realizado</h4>

<table class="tabla" cellspacing="0">

<% for ofe in Bazarcms::Oferta.where("empresa_id = ? and bazar_id = ? and tipo = 'O' ", @empresa.id, BZ_param('BazarId')).order('fecha desc').limit(20) %>
<tr>
<th scope="row">
	<%= link_to ofe.titulo, bazarcms_oferta_path(ofe.id, :bazar_id => ofe.bazar_id) %>	
</th>

<td>
	<%= ofe.fecha.strftime ("%d-%m-%Y") -%>
</td>

</tr>
<% end %>
</table>

<br/>

<h4 class="titulo-seccion">Demandas que ha realizado</h4>

<table class="tabla" cellspacing="0">

<% for ofe in Bazarcms::Oferta.where("empresa_id = ? and bazar_id = ? and tipo = 'D' ", @empresa.id, BZ_param('BazarId')).order('fecha desc').limit(20) %>
<tr>
<th scope="row">
	<%= link_to ofe.titulo, bazarcms_oferta_path(ofe.id, :bazar_id => ofe.bazar_id) %>	
</th>

<td>
	<%= ofe.fecha.strftime ("%d-%m-%Y") -%>
</td>

</tr>
<% end %>
</table>

<br/>

