<% cache "bazar_favoritos_ofe_dash_#{current_user.id}", {:expires_in => 30.minutes.to_i} do %>

<h3 class="page-title"><%=t(:text_ofertas_demandas_que_sigo)%></h3>

<table class="tabla" cellspacing="0">

<% for fav in @favoritos %>
<tr>

	<td>
		<%= link_to(fav.titulo_oferta, bazarcms_oferta_path(fav.oferta_id, :bazar_id => fav.bazar_id)) %>
	</td>

	<td class="dos-iconos">
		<%= helper_favoofe(fav.bazar_id, fav.empresa_id, fav.nombre_empresa, fav.oferta_id, fav.titulo_oferta) %>
	</td>

	<td>
		<%= link_to(fav.nombre_empresa, bazarcms_empresa_path(fav.empresa_id, :bazar_id => fav.bazar_id)) %>
		<%= helper_rating_show2(fav.bazar_id, fav.empresa_id).html_safe %>
	</td>

	<td class="dos-iconos">

		<%= link_to image_tag("email.png"), new_mensaje_url+"?aquien=#{fav.empresa_id}&tipo=M", :title => 'Enviar Mensaje de Correo' %>
		<%= helper_favo(fav.bazar_id, fav.empresa_id, fav.nombre_empresa, "") %>
		
	</td>
	

</tr>
<% end %>

</table>
<% if @total > 5 %>
	<%= link_to("Ver más favoritos (#{@total-5}+) &raquo;".html_safe, bazarcms_ofertasfavoritos_path, :class => "volver-home-link") %>
<% end %>

<% end %>