
<%= form_for(@rating, :url => '/bazarcms/ratings') do |f| %>

<%= f.hidden_field :ori_empresa_id %>
 
<b>Estime su relación con esta Empresa:</b>

<table class="tabla" cellspacing="0">


<tr>

  <td>

  	<b><%= @rating.ori_empresa_nombre %>:</b>

  </td>

  <td>

  	<%= helper_rating_show(2.5).html_safe %>

  </td>

</tr>

<tr>
	
  <td>
  	<b>Cual fue su role:</b>
  </td>

  <td>
   	<p id="opciones-oferta">
   		<span><label id="check-cliente"><input type="radio" name="tipo" value="C" checked="checked">Cliente</label></span>
   		<span><label id="check-proveedor"><input type="radio" name="tipo" value="P">Proveedor</label></span>
    </p>
  </td>

</tr>

<tr id="pre1">
	
  <td>
    <p><b>Satisfacción de expectativas:</b> ¿Se ajusta el producto/servicio a lo
	descrito en la oferta?</p>
  </td>

  <td>
	<div>
		
		<img id="1" class='rat1' src='/images/addfav.png'>
		<img id="2" class='rat1' src='/images/addfav.png'>
		<img id="3" class='rat1' src='/images/addfav.png'>
		<img id="4" class='rat1' src='/images/addfav.png'>
		<img id="5" class='rat1' src='/images/addfav.png'>

	</div>
	<div id="eva1">
		Sin evaluar.
	</div>
	
	<input id="proveedor_expectativas" name="rating[proveedor_expectativas]" type="hidden">

  </td>

</tr>

<tr id="pre2">
	
  <td>
    <p><b>Cumplimiento de plazos:</b> ¿Se entregó el producto/servicio conforme a lo
	acordado inicialmente?</p>
  </td>

  <td>
	<div>
		
		<img id="1-2" class='rat2' src='/images/addfav.png'>
		<img id="2-2" class='rat2' src='/images/addfav.png'>
		<img id="3-2" class='rat2' src='/images/addfav.png'>
		<img id="4-2" class='rat2' src='/images/addfav.png'>
		<img id="5-2" class='rat2' src='/images/addfav.png'>

	</div>
	<div id="eva2">
		Sin evaluar.
	</div>

	<input id="proveedor_plazos" name="rating[proveedor_plazos]" type="hidden">

  </td>

</tr>

<tr id="pre3">
	
  <td>
    <p><b>Comunicación:</b> ¿Cómo de fluida, armoniosa o duramente tensa fue la
	comunicación con la otra parte?</p>
  </td>

  <td>
	<div>
		
		<img id="1-3" class='rat3' src='/images/addfav.png'>
		<img id="2-3" class='rat3' src='/images/addfav.png'>
		<img id="3-3" class='rat3' src='/images/addfav.png'>
		<img id="4-3" class='rat3' src='/images/addfav.png'>
		<img id="5-3" class='rat3' src='/images/addfav.png'>

	</div>
	<div id="eva3">
		Sin evaluar.
	</div>
	
    <input id="proveedor_comunicacion" name="rating[proveedor_comunicacion]" type="hidden">
	
  </td>

</tr>

<tr id="pre4" style="display: none">
	
  <td>
    <p><b>Pago dentro de plazos:</b>  ¿se abonó el pago por el producto/servicio dentro de lo convenido durante el acuerdo?</p>
  </td>

  <td>
	<div>
		
		<img id="1-4" class='rat4' src='/images/addfav.png'>
		<img id="2-4" class='rat4' src='/images/addfav.png'>
		<img id="3-4" class='rat4' src='/images/addfav.png'>
		<img id="4-4" class='rat4' src='/images/addfav.png'>
		<img id="5-4" class='rat4' src='/images/addfav.png'>

	</div>
	<div id="eva4">
		Sin evaluar.
	</div>
	
    <input id="cliente_plazos" name="rating[cliente_plazos]" type="hidden">
	
  </td>

</tr>

<tr id="pre5" style="display: none">
	
  <td>
    <p><b>Comunicación:</b> ¿Cómo de fluida, armoniosa o duramente tensa fue la
	comunicación con la otra parte?</p>
  </td>

  <td>
	<div>
		
		<img id="1-5" class='rat5' src='/images/addfav.png'>
		<img id="2-5" class='rat5' src='/images/addfav.png'>
		<img id="3-5" class='rat5' src='/images/addfav.png'>
		<img id="4-5" class='rat5' src='/images/addfav.png'>
		<img id="5-5" class='rat5' src='/images/addfav.png'>

	</div>
	<div id="eva5">
		Sin evaluar.
	</div>
	
   <input id="cliente_comunicacion" name="rating[cliente_comunicacion]" type="hidden">

  </td>

</tr>


<tr>

  <td>
  <b><%= f.label :Comentario %>:</b>
  </td>
  <td>
  <%= f.text_area(:ori_texto, :size => "60x5") %>
  </td>

</tr>



</table>

  <div class="actions">
    <%= f.submit "Guardar" %> <a href="#" title="Cancelar" onclick="$('#nuevaubicacion').css('display','none');"><%= image_tag('delete.png')%></a>
  </div>
<% end %>

<script>

function ponvalor(valor, lab, sufi) {
var ii; 

	for (ii=1 ; ii <= 5; ii++) {
		
		if (ii <= valor ) {
			$('#'+ii+sufi).attr("src", '/images/rating.png');
		}
		else {
			$('#'+ii+sufi).attr("src", '/images/addfav.png');				
		} 
		
	}
				
	switch (parseInt(valor))
	{
	case 0:
	  $(lab).html("Sin Evaluar");
	  break;
	case 1:
	  $(lab).html("Mala");
	  break;
	case 2:
	  $(lab).html("Regular");
	  break;
	case 3:
	  $(lab).html("Normal");
	  break;
	case 4:
	  $(lab).html("Buena");
	  break;
	case 5:
	  $(lab).html("Excelente");
	  break;
	}	
	
};



$(function() {

    $("img.rat1")
        .click(function() {
			// window.alert("pulsado 1 "+$(this).attr("id") );
			var ii; 
			var valor ; 
			
			valor = parseInt($(this).attr("id"));
			ponvalor(valor, "#eva1", "");

		$('#proveedor_expectativas').val(valor);

        });



    $("img.rat2")
        .click(function() {
			// window.alert("pulsado 1 "+$(this).attr("id") );
			var ii; 
			var valor ; 
			
			valor = parseInt($(this).attr("id"));
			
			ponvalor(valor, "#eva2", "-2");

			$('#proveedor_plazos').val(valor);

        });



	    $("img.rat3")
	        .click(function() {
				// window.alert("pulsado 1 "+$(this).attr("id") );
				var ii; 
				var valor ; 

				valor = parseInt($(this).attr("id"));

				ponvalor(valor, "#eva3", "-3");
				
				$('#proveedor_comunicacion').val(valor);

	        });


		    $("img.rat4")
		        .click(function() {
					// window.alert("pulsado 1 "+$(this).attr("id") );
					var ii; 
					var valor ; 

					valor = parseInt($(this).attr("id"));

					ponvalor(valor, "#eva4", "-4");
					
					$('#cliente_plazos').val(valor);

		        });



		    $("img.rat5")
		        .click(function() {
					// window.alert("pulsado 1 "+$(this).attr("id") );
					var ii; 
					var valor ; 

					valor = parseInt($(this).attr("id"));
					ponvalor(valor, "#eva5", "-5");

				$('#cliente_comunicacion').val(valor);

		        });


			    $("#check-cliente")
			        .click(function() {
						$('#pre1').show();
						$('#pre2').show();
						$('#pre3').show();
						$('#pre4').hide();
						$('#pre5').hide();
						
						$('#cliente_plazos').val(0);
						$('#cliente_comunicacion').val(0);

						ponvalor(0, "#eva4", "-4");
						ponvalor(0, "#eva5", "-5");
						
						
			     });


			    $("#check-proveedor")
			        .click(function() {
						$('#pre1').hide();
						$('#pre2').hide();
						$('#pre3').hide();
						$('#pre4').show();
						$('#pre5').show();

						$('#proveedor_plazos').val(0);
						$('#proveedor_expectativas').val(0);
						$('#proveedor_comunicacion').val(0);
						
						ponvalor(0, "#eva1", "");
						ponvalor(0, "#eva2", "-2");
						ponvalor(0, "#eva3", "-3");
						
			     });



});



</script>

