
<%= form_for(@rating, :url => '/bazarcms/ratings') do |f| %>

<%= f.hidden_field :ori_empresa_id %>
 
<b>Estime su relaci贸n con esta Empresa:</b>

<table class="tabla" cellspacing="0">


<tr>

  <td>

  	<b><%= @rating.ori_empresa_nombre %>:</b>

  </td>

  <td>

  	<%= helper_rating_show(2.5).html_safe %>

  </td>

</tr>


<tr>

  <td>
  <b><%= f.label :Descripci贸n %>:</b>
  </td>
  <td>
  <%= f.text_area(:ori_texto, :size => "60x15") %>
  </td>

</tr>

<tr>
	
  <td>
    <b><%= f.label :Valoraci贸n %>:</b>
  </td>

  <td>
	<div>
		
		<img id="1" class='rat' src='/images/addfav.png'>
		<img id="2" class='rat' src='/images/addfav.png'>
		<img id="3" class='rat' src='/images/addfav.png'>
		<img id="4" class='rat' src='/images/addfav.png'>
		<img id="5" class='rat' src='/images/addfav.png'>

	</div>
	<div id="eva">
		Evalue como ha sido la relaci贸n con esta empresa.
	</div>
	
    <%= f.hidden_field :ori_valor %>
  </td>

</tr>

</table>

  <div class="actions">
    <%= f.submit "Guardar" %> <a href="#" title="Cancelar" onclick="$('#nuevaubicacion').css('display','none');"><%= image_tag('delete.png')%></a>
  </div>
<% end %>

<script>

$(function() {

    $("img.rat")
        .click(function() {
			// window.alert("pulsado 1 "+$(this).attr("id") );
			var ii; 
			var valor ; 
			
			valor = parseInt($(this).attr("id"));
			
			for (ii=1 ; ii <= 5; ii++) {
				
				if (ii <= $(this).attr("id") ) {
					$('#'+ii).attr("src", '/images/rating.png');
				}
				else {
					$('#'+ii).attr("src", '/images/addfav.png');				
				} 
				
			}
						
			switch (parseInt(valor))
			{
			case 1:
			  $('#eva').html("Mala");
			  break;
			case 2:
			  $('#eva').html("Regular");
			  break;
			case 3:
			  $('#eva').html("Normal");
			  break;
			case 4:
			  $('#eva').html("Buena");
			  break;
			case 5:
			  $('#eva').html("Excelente");
			  break;
			}

		$('#bazarcms_rating_ori_valor').val(valor);

        });

});

</script>

