<% if @empresa.id == rating.ori_empresa_id and rating.ori_bazar_id == BZ_param('BazarId') %>

<tr>
	
	<td>
		Origen <%= rating.des_empresa_nombre %>
	</td>
	
	<td>
		<%= rating.des_fecha.strftime ("%d-%m-%Y") %>
	</td>

	<td>
		<%= rating.des_texto %>
	</td>
	
</tr>


<% else %>

<tr>
	
	<td>
		Destino <%= rating.ori_empresa_nombre %>
	</td>
	
	<td>
		<%= rating.ori_fecha.strftime ("%d-%m-%Y") %>
	</td>

	<td>
		<%= rating.ori_texto %>
	</td>
	
</tr>

<% if rating.role == 'C' %>

<tr>
	<td><b>Expectativas</b></td>
	<td>
		<%= rating.ori_proveedor_expectativas %>
	</td>
</tr>

<tr>
	<td><b>Plazos</b></td>
	<td>
		<%= rating.ori_proveedor_plazos %>
	</td>
</tr>

<tr>
	<td><b>Comunicación</b></td>
	<td>
		<%= rating.ori_proveedor_comunicacion %>
	</td>

</tr>

<% else %>

<tr>

<tr>
	<td><b>Plazos</b></td>
	<td>
		<%= rating.ori_cliente_plazos %>
	</td>
</tr>
<tr>
	<td><b>Comunicación</b></td>
	<td>
		<%= rating.ori_cliente_comunicacion %>
	</td>

</tr>


<% end %>



<tr>
	<td colspan="6">
		<%= rating.inspect %>
	</td>
</tr>
<% end %>
