<% if @empresa.id == rating.ori_empresa_id and rating.ori_bazar_id == BZ_param('BazarId') %>

<tr>
	
	<td>
		Origen <%= rating.des_empresa_nombre %>
	</td>
	
	<td>
		<%= rating.des_fecha.strftime ("%d-%m-%Y") %>
	</td>

	<td>
		<%= rating.des_texto %>
	</td>
	
</tr>


<% else %>

<tr>
	
	<td>
		Destino <%= rating.ori_empresa_nombre %>
	</td>
	
	<td>
		<%= rating.ori_fecha.strftime ("%d-%m-%Y") %>
	</td>

	<td>
		<%= rating.ori_texto %>
	</td>
	
</tr>

<tr>
	<td colspan="6">
		<%= rating.inspect %>
	</td>
</tr>
<% end %>
