
<table class="tabla">
	<tr>
		<td>
			<b>Empresa</b>
		</td>
		<td>
			<b>Fecha</b>
		</td>
	</tr>

<% if @empresa.id == rating.ori_empresa_id and rating.ori_bazar_id == BZ_param('BazarId') %>

<tr>
	
	<td>
		Origen <%= rating.des_empresa_nombre %>
	</td>
	
	<td>
		<%= rating.des_fecha.strftime ("%d-%m-%Y") %>
	</td>

	<td>
		<%= rating.des_texto %>
	</td>
	
</tr>


<% else %>

<tr>
	
	<td>
		Destino <%= rating.ori_empresa_nombre %>
	</td>
	
	<td>
		<%= rating.ori_fecha.strftime ("%d-%m-%Y") %>
	</td>


	
</tr>

<% if rating.role == 'C' %>

<tr>
	<td><b>Expectativas</b></td>
	<td>
		<%= helper_rating_show(rating.ori_proveedor_expectativas, "/bazarcms/ficharating/#{rating.des_empresa_id}?bazar_id=#{rating.des_bazar_id}").html_safe %>
	</td>
</tr>

<tr>
	<td><b>Plazos</b></td>
	<td>
		<%= helper_rating_show(rating.ori_proveedor_plazos, "").html_safe %>
	</td>
</tr>

<tr>
	<td><b>Comunicación</b></td>
	<td>
		<%= helper_rating_show(rating.ori_proveedor_comunicacion, "").html_safe %>
	</td>

</tr>

<% else %>

<tr>

<tr>
	<td><b>Plazos</b></td>
	<td>
		<%= helper_rating_show(rating.ori_cliente_plazos, "").html_safe %>
		
	</td>
</tr>
<tr>
	<td><b>Comunicación</b></td>
	<td>
		<%= helper_rating_show(rating.ori_cliente_comunicacion, "").html_safe %>
	</td>

</tr>


<% end %>

<tr>
	<td colspan="2">
		<b>Comentario:</b> <%= rating.ori_texto %>
	</td>
</tr>

<% end %>

</table>