
<% if @empresa.id == rating.ori_empresa_id && rating.ori_bazar_id == BZ_param('BazarId').to_i  %>

<table class="tabla">

<% if rating.role == 'P' %>

	<tr>
		<td>
			<b><%=t(:text_como_cliente)%></b>
		</td>
		<td>
			<b><%=t(:text_fecha)%></b>
		</td>
		<td>
			<b><%=t(:text_expectativas)%></b>
		</td>
		<td>
			<b><%=t(:text_plazos)%></b>
		</td>
		<td>
			<b><%=t(:text_comunicacion)%></b>
		</td>
	</tr>
	
	<tr>
	
		<td>
			<%= link_to(rating.des_empresa_nombre, bazarcms_empresa_path(rating.des_empresa_id, :bazar_id => rating.des_bazar_id)) %>
		</td>
	
		<td>
			<%= rating.des_fecha.strftime ("%d-%m-%Y") %>
		</td>
	
		<td>
			<%= helper_rating_show(rating.des_proveedor_expectativas, "/bazarcms/ficharating/#{rating.ori_empresa_id}?bazar_id=#{rating.ori_bazar_id}").html_safe %>
		</td>

		<td>
			<%= helper_rating_show(rating.des_proveedor_plazos, "/bazarcms/ficharating/#{rating.ori_empresa_id}?bazar_id=#{rating.ori_bazar_id}").html_safe %>
		</td>

		<td>
			<%= helper_rating_show(rating.des_proveedor_comunicacion, "/bazarcms/ficharating/#{rating.ori_empresa_id}?bazar_id=#{rating.ori_bazar_id}").html_safe %>
		</td>

	</tr>

	<tr>
		<td colspan="7">
			<b><%=t(:text_comentario)%></b> <%= rating.des_texto %>
		</td>
	</tr>


<% else %>

	<tr>
		<td>
			<b><%=t(:text_como_proveedor)%></b>
		</td>

		<td>
			<b><%=t(:text_fecha)%></b>
		</td>

		<td>
			<b><%=t(:text_plazos)%></b>
		</td>

		<td>
			<b><%=t(:text_comunicacion)%></b>
		</td>

	</tr>

	<tr>

		<td>
			<%= link_to(rating.des_empresa_nombre, bazarcms_empresa_path(rating.des_empresa_id, :bazar_id => rating.des_bazar_id)) %>
		</td>

		<td>
			<%= rating.des_fecha.strftime ("%d-%m-%Y") %>
		</td>

		<td>
			<%= helper_rating_show(rating.des_cliente_plazos, "/bazarcms/ficharating/#{rating.ori_empresa_id}?bazar_id=#{rating.ori_bazar_id}").html_safe %>
	
		</td>

		<td>
			<%= helper_rating_show(rating.des_cliente_comunicacion, "/bazarcms/ficharating/#{rating.ori_empresa_id}?bazar_id=#{rating.ori_bazar_id}").html_safe %>
		</td>

	</tr>
	
	<tr>
		<td colspan="7">
			<b><%=t(:text_comentario)%></b> <%= rating.des_texto %>
		</td>
	</tr>
	

<% end %>


</table>


<% end %>

<% if @empresa.id == rating.des_empresa_id && rating.des_bazar_id == BZ_param('BazarId').to_i %>

<table class="tabla">


<% if rating.role == 'C' %>


	<tr>
		<td>
			<b><%=t(:text_como_cliente)%></b>
		</td>
		<td>
			<b><%=t(:text_fecha)%></b>
		</td>
		<td>
			<b><%=t(:text_expectativas)%></b>
		</td>

		<td>
			<b><%=t(:text_plazos)%></b>
		</td>

		<td>
			<b><%=t(:text_comunicacion)%></b>
		</td>

	</tr>

	<tr>
	
		<td>
			<%= link_to(rating.ori_empresa_nombre, bazarcms_empresa_path(rating.ori_empresa_id, :bazar_id => rating.ori_bazar_id)) %>
		</td>
	
		<td>
			<%= rating.ori_fecha.strftime ("%d-%m-%Y") %>
		</td>

		<td>
			<%= helper_rating_show(rating.ori_proveedor_expectativas, "/bazarcms/ficharating/#{rating.des_empresa_id}?bazar_id=#{rating.des_bazar_id}").html_safe %>
		</td>

		<td>
			<%= helper_rating_show(rating.ori_proveedor_plazos, "").html_safe %>
		</td>

		<td>
			<%= helper_rating_show(rating.ori_proveedor_comunicacion, "").html_safe %>
		</td>

	</tr>

	<tr>
		<td colspan="6">
			<b><%=t(:text_comentario)%></b> <%= rating.ori_texto %>
		</td>
	</tr>

<% else %>

	<tr>
		<td>
			<b><%=t(:text_como_proveedor)%></b>
		</td>

		<td>
			<b><%=t(:text_fecha)%></b>
		</td>

		<td>
			<b><%=t(:text_plazos)%></b>
		</td>

		<td>
			<b><%=t(:text_comunicacion)%></b>
		</td>

	</tr>

	<tr>

		<td>
			<%= link_to(rating.ori_empresa_nombre, bazarcms_empresa_path(rating.ori_empresa_id, :bazar_id => rating.ori_bazar_id)) %>
		</td>

		<td>
			<%= rating.ori_fecha.strftime ("%d-%m-%Y") %>
		</td>

		<td>
			<%= helper_rating_show(rating.ori_cliente_plazos, "").html_safe %>
		
		</td>

		<td>
			<%= helper_rating_show(rating.ori_cliente_comunicacion, "").html_safe %>
		</td>

	</tr>

	<tr>
		<td colspan="6">
			<b><%=t(:text_comentario)%></b> <%= rating.ori_texto %>
		</td>
	</tr>
	
<% end %>


</table>

<% end %>

