

<% if @empresa.id == rating.ori_empresa_id && rating.ori_bazar_id == BZ_param('BazarId').to_i && !rating.des_fecha.nil? %>

<table class="tabla">


<% if rating.role == 'C' %>

	<tr>
		<td>
			<b><%=t(:text_empresa)%></b>
		</td>
		<td>
			<b><%=t(:text_fecha)%></b>
		</td>
		<td>
			<b><%=t(:text_expectativas)%></b>
		</td>
		<td>
			<b><%=t(:text_plazos)%></b>
		</td>
		<td>
			<b><%=t(:text_comunicaci_n)%></b>
		</td>
	</tr>
	
	<tr>
	
		<td>
			<%= link_to(rating.des_empresa_nombre, bazarcms_empresa_path(rating.des_empresa_id, :bazar_id => rating.des_bazar_id)) %>
		</td>
	
		<td>
			<%= rating.des_fecha.strftime ("%d-%m-%Y") %>
		</td>
	
		<td>
			<%= helper_rating_show(rating.des_proveedor_expectativas, "/bazarcms/ficharating/#{rating.ori_empresa_id}?bazar_id=#{rating.ori_bazar_id}").html_safe %>
		</td>

		<td>
			<%= helper_rating_show(rating.des_proveedor_plazos, "").html_safe %>
		</td>

		<td>
			<%= helper_rating_show(rating.des_proveedor_comunicacion, "").html_safe %>
		</td>

	</tr>

<% else %>

	<tr>
		<td>
			<b><%=t(:text_empresa)%></b>
		</td>

		<td>
			<b><%=t(:text_fecha)%></b>
		</td>

		<td>
			<b><%=t(:text_plazos)%></b>
		</td>

		<td>
			<b><%=t(:text_comunicaci_n)%></b>
		</td>

	</tr>

	<tr>

		<td>
			<%= link_to(rating.des_empresa_nombre, bazarcms_empresa_path(rating.des_empresa_id, :bazar_id => rating.des_bazar_id)) %>
		</td>

		<td>
			<%= rating.des_fecha.strftime ("%d-%m-%Y") %>
		</td>

		<td>
			<%= helper_rating_show(rating.ori_cliente_plazos, "").html_safe %>
	
		</td>

		<td>
			<%= helper_rating_show(rating.ori_cliente_comunicacion, "").html_safe %>
		</td>

	</tr>

<% end %>

<tr>
	<td colspan="7">
		<b><%=t(:text_comentario)%></b> <%= rating.ori_texto %>
	</td>
</tr>

</table>


<% end %>

<% if @empresa.id == rating.des_empresa_id && rating.des_bazar_id == BZ_param('BazarId').to_i && !rating.ori_fecha.nil? %>

<table class="tabla">


<% if rating.role == 'C' %>


	<tr>
		<td>
			<b><%=t(:text_empresa)%></b>
		</td>
		<td>
			<b><%=t(:text_fecha)%></b>
		</td>
		<td>
			<b><%=t(:text_expectativas)%></b>
		</td>

		<td>
			<b><%=t(:text_plazos)%></b>
		</td>

		<td>
			<b><%=t(:text_comunicaci_n)%></b>
		</td>

	</tr>

	<tr>
	
		<td>
			<%= link_to(rating.ori_empresa_nombre, bazarcms_empresa_path(rating.ori_empresa_id, :bazar_id => rating.ori_bazar_id)) %>
		</td>
	
		<td>
			<%= rating.ori_fecha.strftime ("%d-%m-%Y") %>
		</td>

		<td>
			<%= helper_rating_show(rating.ori_proveedor_expectativas, "/bazarcms/ficharating/#{rating.des_empresa_id}?bazar_id=#{rating.des_bazar_id}").html_safe %>
		</td>

		<td>
			<%= helper_rating_show(rating.ori_proveedor_plazos, "").html_safe %>
		</td>

		<td>
			<%= helper_rating_show(rating.ori_proveedor_comunicacion, "").html_safe %>
		</td>

	</tr>

<% else %>

	<tr>
		<td>
			<b><%=t(:text_empresa)%></b>
		</td>

		<td>
			<b><%=t(:text_fecha)%></b>
		</td>

		<td>
			<b><%=t(:text_plazos)%></b>
		</td>

		<td>
			<b><%=t(:text_comunicaci_n)%></b>
		</td>

	</tr>

	<tr>

		<td>
			<%= link_to(rating.ori_empresa_nombre, bazarcms_empresa_path(rating.ori_empresa_id, :bazar_id => rating.ori_bazar_id)) %>
		</td>

		<td>
			<%= rating.ori_fecha.strftime ("%d-%m-%Y") %>
		</td>

		<td>
			<%= helper_rating_show(rating.ori_cliente_plazos, "").html_safe %>
		
		</td>

		<td>
			<%= helper_rating_show(rating.ori_cliente_comunicacion, "").html_safe %>
		</td>

	</tr>

<% end %>

<tr>
	<td colspan="6">
		<b><%=t(:text_comentario)%></b> <%= rating.ori_texto %>
	</td>
</tr>
</table>

<% end %>

