<div id="ficharating">

<a class="volver-home-link" href="/home"><%=t(:text_volver_a_la_pagina_de_busquedas)%></a>

<br/>

<h3><%=t(:text_rating_bazar)%><%= @empresa.nombre -%></h3> 

<table class="tabla">
<tr>
	<td>
		<b><%=t(:text_global)%></b>
	</td>

	<td colspan="3">
		<%= helper_rating_show(@empresa.rating, "/bazarcms/ratings/new?bazar_id=#{BZ_param('BazarId')}&empresa_id=#{@empresa.id}&empresa_nombre=#{@empresa.nombre.gsub(' ','_')}").html_safe %>
	</td>
	
</tr>

<tr>
	<td>
		<b><%=t(:text_valoracion_como_cliente)%></b>
	</td>
	
	<td>
		<%= helper_rating_show(@empresa.rating_cliente, "/bazarcms/ratings/new?bazar_id=#{BZ_param('BazarId')}&empresa_id=#{@empresa.id}&empresa_nombre=#{@empresa.nombre.gsub(' ','_')}").html_safe %>
		<% if @empresa.rating_total_cliente > 0 %>
			<%= @empresa.rating_total_cliente %>&nbsp;<%=t(:text_valoraciones)%>
		<% end %>
	</td>
	
	<td>
		<b><%=t(:text_valoracion_como_proveedor)%></b>
	</td>

	<td>
		<%= helper_rating_show(@empresa.rating_proveedor, "/bazarcms/ratings/new?bazar_id=#{BZ_param('BazarId')}&empresa_id=#{@empresa.id}&empresa_nombre=#{@empresa.nombre.gsub(' ','_')}").html_safe %>
		<% if @empresa.rating_total_proveedor > 0 %>
			<%= @empresa.rating_total_proveedor %>&nbsp;<%=t(:text_valoraciones)%>
		<% end %>
	</td>

</tr>

	
</table>



<% if BZ_param('BazarId').to_i == params[:bazar_id].to_i && @empresa.id.to_i == current_user.id %>
	
	<br/>

<% else %>
	<br/>
	<a class="volver-home-link" href="<%= "/bazarcms/ratings/new?bazar_id=#{BZ_param('BazarId')}&empresa_id=#{@empresa.id}&empresa_nombre=#{@empresa.nombre.gsub(' ','_')}".html_safe %>"><%=t(:text_valorar_esta_empresa)%></a>
	<br/>

<% end %>


<%= render 'list' %>


</div>
