<div id="ficharating">

<a class="volver-home-link" href="/home">&laquo; Volver a la página de búsquedas</a>

<br/>

<h3>Rating Bazar: <%= @empresa.nombre -%></h3> 

<table class="tabla">
<tr>
	<td>
		<b>Global</b>
	</td>

	<td colspan="3">
		<%= helper_rating_show(@empresa.rating, "/bazarcms/ratings/new?bazar_id=#{BZ_param('BazarId')}&empresa_id=#{@empresa.id}&empresa_nombre=#{@empresa.nombre.gsub(' ','_')}").html_safe %>
	</td>
	
</tr>

<tr>
	<td>
		<b>Valoración como Cliente</b>
	</td>
	
	<td>
		<%= helper_rating_show(@empresa.rating_cliente, "/bazarcms/ratings/new?bazar_id=#{BZ_param('BazarId')}&empresa_id=#{@empresa.id}&empresa_nombre=#{@empresa.nombre.gsub(' ','_')}").html_safe %>
		<% if @empresa.rating_total_cliente > 0 %>
			<%= @empresa.rating_total_cliente %> Valoraciones
		<% end %>
	</td>
	
	<td>
		<b>Valoración como Proveedor</b>
	</td>

	<td>
		<%= helper_rating_show(@empresa.rating_proveedor, "/bazarcms/ratings/new?bazar_id=#{BZ_param('BazarId')}&empresa_id=#{@empresa.id}&empresa_nombre=#{@empresa.nombre.gsub(' ','_')}").html_safe %>
		<% if @empresa.rating_total_proveedor > 0 %>
			<%= @empresa.rating_total_proveedor %> Valoraciones
		<% end %>
	</td>

</tr>

	
</table>



<% if BZ_param('BazarId').to_i == params[:bazar_id].to_i && @empresa.id.to_i == current_user.id %>
	
	<br/>

<% else %>
	<br/>
	<a class="volver-home-link" href="<%= "/bazarcms/ratings/new?bazar_id=#{BZ_param('BazarId')}&empresa_id=#{@empresa.id}&empresa_nombre=#{@empresa.nombre.gsub(' ','_')}".html_safe %>">Valorar esta empresa.</a>
	<br/>

<% end %>


<%= render 'list' %>


</div>