<div id="nuevaubicacion">

<h3><%=t(:text_rating)%><%= @rating.des_empresa_nombre %>:</b>
</h3>


<table>
<tr>

  <td>

  	<b><%= @rating.des_empresa_nombre %>:</b>

  </td>

  <td>

  	<%= helper_rating_show(2.5).html_safe %>

  </td>

</tr>
</table>

<%= render 'form' %>

<br/>

<h3><%=t(:text_detalle_de_las_valoraciones_de_esta_empresa)%></h3> 

<%= render 'list' %>

<%= render :text => 'texto con el rating remoto' %>

</div>
