	<% if oferta.cluster_id.to_i == BZ_param('BazarId').to_i %>
		<% emp = Bazarcms::Empresa.find(oferta.empresa_id) %>
		<% if !emp.nil? %>
			<% nombre_empresa = emp.nombre %>
		<% else %>
			<% nombre_empresa = "" %>		
		<% end %>
	<% else %>
		<% emp = datos_empresa_remota(oferta.cluster_id, oferta.empresa_id) %>
		<% if !emp.nil? %>
			<% nombre_empresa = emp['nombre'] %>
		<% else %>
			<% nombre_empresa = "" %>		
		<% end %>
	<% end %>


<% if nombre_empresa != "" %>
<tr>
	<td width="102px">
		<% img = logo_helper(oferta.cluster_id, oferta.empresa_id) %>
		<% if !img.nil? %>
			<%= link_to(image_tag(img), bazarcms_empresa_path(oferta.empresa_id, :bazar_id => oferta.cluster_id)) %> 
		<% end %>
    </td>

	<td>
		<% if oferta.cluster_id.to_i == BZ_param('BazarId').to_i %>
			<%= link_to nombre_empresa, bazarcms_empresa_path(oferta.empresa_id, :bazar_id => oferta.cluster_id) %>
		<% else %>
			<%= link_to nombre_empresa, bazarcms_empresa_path(oferta.empresa_id, :bazar_id => oferta.cluster_id) %>
		<% end %>
		<%= helper_rating_show2(oferta.cluster_id, oferta.empresa_id).html_safe %>
	</td>

	<td class="dos-iconos">
		<%= link_to image_tag("email.png"), new_mensaje_url+"?aquien=#{oferta.empresa_id}&bazar_destino=#{oferta.cluster_id}&nombre=#{nombre_empresa}&tipo=M", :title => 'Enviar Mensaje de Correo' %>
		<%= helper_favo(oferta.cluster_id, oferta.empresa_id, nombre_empresa, "oferta") %>
	</td>

	
	<td>
		<%= link_to oferta.info, bazarcms_oferta_path(oferta.oferta_id, :bazar_id => oferta.cluster_id) %>	
	</td>

	<td class="dos-iconos">
		<%= helper_favoofe(oferta.cluster_id, oferta.empresa_id, nombre_empresa, oferta.oferta_id, oferta.info) %>
	</td>



</tr>

<% Bazarcms::Oferta.mostrada(oferta.cluster_id, oferta.oferta_id) %>

<% end %>