<%= javascript_include_tag 'jquery.pageless' -%>

<a class="volver-home-link" href="/home"><%=t(:text_volver_a_la_pagina_de_busquedas)%></a>

<h3 class="page-title"><%=t(:text_ultimas_ofertas_demandas)%></h3>

<table id="results" class="tabla" cellspacing="0">

<%= render :partial => 'oferta', :collection => @ofertas %>

</table>

<%= pageless(@ofertas.total_pages, '/bazarcms/ofertas') %>
