<%= javascript_include_tag "jquery.ui.datepicker-es.js" %>

<h3 class="page-title"><%=t(:text_publicar_una_oferta_demanda)%></h3>

<div id="ofer1">
	<h3 class="paso-title"><em>1</em><%=t(:text_defina_tipo_y_a_quien_va_dirigida)%></h3>

	<div>
	<%= form_for(@oferta) do |f| %>
    <div id="publicar-od-tipo" class="publicar-seccion">
        <h4><em>a</em><%=t(:text_es_una)%> <strong><%=t(:text_oferta)%> </strong><%=t(:text_o_una)%> <strong><%=t(:text_demanda)%></strong>?</h4>

    	<p id="opciones-oferta">
    	  <span><label id="check-ofertas"><input type="radio" name="tipo" value="oferta" checked="checked"><%=t(:text_oferta)%></label></span>
    	  <span><label id="check-demandas"><input type="radio" name="tipo" value="demanda"><%=t(:text_demanda)%></label></span>
    	</p>
	
    </div><!-- /#publicar-od-tipo -->
    
    <div id="publicar-od-keywords" class="publicar-seccion">
    	<h4><em>b</em><%=t(:text_defina_las_palabras_clave_que_desea_de_las_empresas_que_se_van_a_seleccionar_puede_dejarlo_vacio)%></h4>

    	<div class="demo">

        	<p class="busqueda-principal">

            	<input id="busca" name="busqueda" size="30" type="text" onFocus="desactivar();"/>

        	</p>

    		<script>
    		<%= Bazarcms::Empresasdato.listaRE %>
    		<%= Bazarcms::Empresasdato.listaRD %>

    		$(function() {
    			$( "#slider-range" ).slider({
    				range: true,
    				min: 0,
    				max: maxRE,
    				values: [ 0, maxRE ],
    				slide: function( event, ui ) {
    					$( "#empleados" ).val( "Entre: " + listaRE[ui.values[ 0 ]] + " y " + listaRE2[ui.values[ 1 ]]  );
    					$( "#empleados2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
						desactivar();
    				}
    			});
    			$( "#empleados" ).val( "Todos");
    			$( "#empleados2" ).val( "0+"+maxRE);


    			$( "#slider-range2" ).slider({
    				range: true,
    				min: 0,
    				max: maxRD,
    				values: [ 0, maxRD ],
    				slide: function( event, ui ) {
    					$( "#ventas" ).val( "Entre: " + listaRD[ui.values[ 0 ]] + " y " + listaRD2[ui.values[ 1 ]] );
    					$( "#ventas2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
						desactivar();
    				}
    			});

    			$( "#compras" ).val( "Todos");
    			$( "#compras2" ).val( "0+"+maxRD);

    			$( "#ventas" ).val( "Todos");
    			$( "#ventas2" ).val( "0+"+maxRD);

    			$( "#slider-range3" ).slider({
    				range: true,
    				min: 0,
    				max: maxRD,
    				values: [ 0, maxRD ],
    				slide: function( event, ui ) {
    					$( "#compras" ).val( "Entre: " + listaRD[ui.values[ 0 ]] + " y " + listaRD2[ui.values[ 1 ]] );
    					$( "#compras2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
						desactivar();
    				}
    			});


    			$( "#slider-range4" ).slider({
    				range: true,
    				min: 0,
    				max: maxRD,
    				values: [ 0, maxRD ],
    				slide: function( event, ui ) {
    					$( "#resultados" ).val( "Entre: " + listaRD[ui.values[ 0 ]] + " y " + listaRD2[ui.values[ 1 ]] );
    					$( "#resultados2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
						desactivar();
    				}
    			});
    			$( "#resultados" ).val( "Todos");
    			$( "#resultados2" ).val( "0+"+maxRD);


    		});


    		</script>
    		
		</div><!-- /.demo -->

    </div><!-- /#publicar-od-keywords -->

    <div id="publicar-od-sectores" class="publicar-seccion">
        <h4><em>c</em><%=t(:text_seleccione_los_sectores)%></h4>

    	<div id="filtro-perfiles">
        	<table cellspacing="0" class="tabla">
        		<tr><th><%=t(:text_ofrecen)%></th><th><%=t(:text_empresas_que_sean_de_estos_sectores)%></th></tr>
        		<tr>
        			<td valign="top" style="width: 420px;">
        			 	<label for="query1"><%=t(:text_buscar_en_sectores)%></label> <input type="text" name="q" id="query1" />
        			 <input type="hidden" id="pofertan" style="border:0; color:#f6931f; font-weight:bold;" />
        			</td>
        			<td valign="top" >
        			<div id="filtroofertan">
        				<p><%=t(:text_seleccione_uno_o_varios_sectores_en_la_caja_de_busqueda)%></p>
        				<p><b><%=t(:text_solo)%> </b> <%=t(:text_las_empresas_que_esten_en)%> <b> <%=t(:text_alguno)%></b> <%=t(:text_de_estos_sectores)%></p>
        			</div>
        			</td>
        		</tr>
        	</table>

        	<table cellspacing="0" class="tabla">
        		<tr><th><%=t(:text_demandan)%></th><th><%=t(:text_empresas_que_sean_de_estos_sectores)%></th></tr>
        		<tr>
        			<td valign="top" style="width: 420px;">
        			 	<label for="query2"><%=t(:text_buscar_en_sectores)%></label> <input type="text" name="q" id="query2" />
        			 <input type="hidden" id="pdemandan" style="border:0; color:#f6931f; font-weight:bold;" />
        			</td>
        			<td valign="top">
        				<div id="filtrodemandan">
        					<p><%=t(:text_seleccione_uno_o_varios_sectores_en_la_caja_de_busqueda)%></p>
        					<p><b> <%=t(:text_solo)%> </b> <%=t(:text_las_empresas_que_esten_en)%> <b> <%=t(:text_alguno)%></b> <%=t(:text_de_estos_sectores)%></p>
        				</div>
        			</td>
        		</tr>
        	</table>

    	</div><!-- /#filtro-perfiles -->

    	<script type="text/javascript">
    	 //<![CDATA[

    	var a1;
    	var a2;
    	var tot1 = 0;
    	var tot2 = 0;
    	var lis1 = [];
    	var lab1 = [];
		var emp1 = [];
    	var ayuda1 = [];
    	var html1 = "";
    	var lis2 = [];
    	var lab2 = [];
		var emp2 = [];
    	var ayuda2 = [];
    	var html2 = "";

    	function borraofertan(cual) {
    		var ii;
    		if (cual == 0 && tot1 == 0) {
    			tot1 = 0;
    		}
    		else {

    			var ii;
    			for (ii = cual; ii < tot1 -1; ii++) {
    				lis1[ii] = lis1[ii+1];
    				lab1[ii] = lab1[ii+1];
					emp1[ii] = emp1[ii+1];
    				ayuda1[ii] = ayuda1[ii+1];
    			}
    			tot1 = tot1 - 1;

    		}
    		pintaofertan();
			desactivar();
    	};

    	function pintaofertan() {


    		if (tot1 == 0) {
    			html1 = "";
				$('#pofertan').val("");
    			$('#filtroofertan').html("<p>Seleccione uno o varios sectores en la caja de búsqueda</p>");
    		}
    		else {
    			html1 = "";
    			bus = "";
    			var ii = 0;
    			for (ii = 0; ii < tot1; ii++) {
    				html1 += '<div class="perfil">';
    				html1 += '	<div class="nombre-perfil">'+lab1[ii]+'</div>';
    				html1 += "<span class='opciones-perfil'><img title='Ver Descripción' src='/images/help.png' border='0' onclick=\"$('#O"+lis1[ii]+"\').slideToggle(250);\">";
    				html1 += " <img src='/images/papelera.png' border='0' onclick='borraofertan("+ii+");'></span>";
    				html1 += '<div class="descripcion-perfil" id="O'+lis1[ii]+'" style="display:none">';
    	    		html1 += '<p>'+ayuda1[ii]+'</p>';
    	    		html1 += "<a class='ocultar-link' href='#' onclick=\"$('#O"+lis1[ii]+"\').slideToggle(250);\">Ocultar la descripción</a>";
    	    		html1 += "</div>";
    				html1 += "</div>";

    				bus += lis1[ii]+","
    			}
    			$('#filtroofertan').html(html1);

    			$('#pofertan').val(bus);
    		}
    	};


    	function borrademandan(cual) {
    		var ii;
    		if (cual == 0 && tot2 == 0) {
    			tot2 = 0;
    		}
    		else {

    			var ii;
    			for (ii = cual; ii < tot2 -1; ii++) {
    				lis2[ii] = lis2[ii+1];
    				lab2[ii] = lab2[ii+1];
					emp2[ii] = emp2[ii+1];
    				ayuda2[ii] = ayuda2[ii+1]
    			}
    			tot2 = tot2 - 1;

    		}
    		pintademandan();
			desactivar();
    	};

    	function pintademandan() {

    		if (tot2 == 0) {
    			html2 = "";
				$('#pdemandan').val("");
    			$('#filtrodemandan').html("<p>Seleccione uno o varios sectores en la caja de búsqueda</p>");
    		}
    		else {
    			html2 = "";
    			bus = "";
    			var ii = 0;
    			for (ii = 0; ii < tot2; ii++) {


    				html2 += '<div class="perfil">';
    				html2 += '	<div class="nombre-perfil">'+lab2[ii]+'</div>';
    				html2 += "<span class='opciones-perfil'><img title='Ver Descripción' src='/images/help.png' border='0' onclick=\"$('#D"+lis2[ii]+"\').slideToggle(250);\">";
    				html2 += " <img src='/images/papelera.png' border='0' onclick='borrademandan("+ii+");'></span>";
    				html2 += '<div class="descripcion-perfil" id="D'+lis2[ii]+'" style="display:none">';
    	    		html2 += '<p>'+ayuda2[ii]+'</p>';
    	    		html2 += "<a class='ocultar-link' href='#' onclick=\"$('#D"+lis2[ii]+"\').slideToggle(250);\">Ocultar la descripción</a>";
    	    		html2 += "</div>";
    				html2 += "</div>";

    				bus += lis2[ii]+",";
    			}
    			$('#filtrodemandan').html(html2);

    			$('#pdemandan').val(bus);
    		}
    	};

    	jQuery(function() {

    		var options = {
    		  width: 300,
    		  delimiter: /(,|;)\s*/,
    		  deferRequestBy: 150, //miliseconds
    		  params: { tipo: 'O' },
    		  source: "/bazarcms/busquedaperfiles.json",
    		  minLength: 2,
    		  select: function(event, ui) {

    			var esta = 0;

    			for (ii = 0; ii < tot1; ii++) {
    				if (lis1[ii] === ui.item.id) {
    					esta = 1;
    				}
    			}
    			if (!esta) {
    				lis1[tot1] = ui.item.id;
    				lab1[tot1] = ui.item.label;
					emp1[tot1] = ui.item.total;
    				ayuda1[tot1] = ui.item.ayuda;
    				tot1 += 1;
    			}

    			pintaofertan();
    			$("#query1").val("");
				desactivar();
    			return false;
    		  },
    		  noCache: false //set to true, to disable caching
    		};



    		a1 = $('#query1').autocomplete(options);

    		var options2 = {
    		  width: 300,
    		  delimiter: /(,|;)\s*/,
    		  deferRequestBy: 150, //miliseconds
    		  params: { tipo: 'O' },
    		  source: "/bazarcms/busquedaperfiles.json",
    		  minLength: 2,
    		  select: function(event, ui) {

    			var esta = 0;

    			for (ii = 0; ii < tot2; ii++) {
    				if (lis2[ii] === ui.item.id) {
    					esta = 1;
    				}
    			}
    			if (!esta) {
    				lis2[tot2] = ui.item.id;
    				lab2[tot2] = ui.item.label;
					emp2[tot2] = ui.item.total;
    				ayuda2[tot2] = ui.item.ayuda;
    				tot2 += 1;
    			}

    			$("#query2").val("");
    			pintademandan();
				desactivar();
				
    			return false;
    		  },
    		  noCache: false //set to true, to disable caching
    		};

    		a2 = $('#query2').autocomplete(options2);

    	    $('#query1').keypress(function (e) {
    	        var code = null;
    	        code = (e.keyCode ? e.keyCode : e.which);
    	        return (code == 13) ? false : true;
    	    });

    	    $('#query2').keypress(function (e) {
    	        var code = null;
    	        code = (e.keyCode ? e.keyCode : e.which);
    	        return (code == 13) ? false : true;
    	    });

    	});

    	//]]>
    	</script>

    </div><!-- /#publicar-od-sectores -->

    <div id="publicar-od-paises" class="publicar-seccion">

        <h4><em>d</em><%=t(:text_solo_empresas_que_tengan_presencia_en_estos_paises)%></h4>

    	<div id="filtro-pais">

    		<table cellspacing="0" class="tabla">
    			<tr><th><%=t(:text_paises)%></th><th><%=t(:text_paises_seleccionados)%></th></tr>
    			<tr>
    				<td valign="top" style="width: 420px;">
    	                <label for="query3"><%=t(:text_buscar_paises)%></label>
    	                <input type="text" name="q" id="query3" />
			 			<input type="hidden" id="ppaises" style="border:0; color:#f6931f; font-weight:bold;" />
    				</td>
    				<td>
    					<div id="mispaises">
    						<p><%=t(:text_seleccione_uno_o_varios_paises_en_la_caja_de_busqueda)%></p>
    					</div>
    				</td>
    			</tr>
    		</table>


    	</div><!-- /#filtro-pais -->

    	<script type="text/javascript">
    	 //<![CDATA[


    	var tot3 = 0;
    	var lis3 = [];
    	var lab3 = [];
		var emp3 = [];
    	var ayuda3 = [];
    	var html3 = "";

    	function borrapaises(cual) {
    		var ii;
    		if (cual == 0 && tot3 == 0) {
    			tot3 = 0;
    		}
    		else {

    			var ii;
    			for (ii = cual; ii < tot3 -1; ii++) {
    				lis3[ii] = lis3[ii+1];
    				lab3[ii] = lab3[ii+1];
    				emp3[ii] = emp3[ii+1];
    				ayuda3[ii] = ayuda3[ii+1]
    			}
    			tot3 = tot3 - 1;
    		}
    		pintapaises();
			desactivar();
    	};

    	function pintapaises() {

    		if (tot3 == 0) {
    			html3 = "";
				$('#ppaises').val("");
    			$('#mispaises').html("<p>Seleccione uno o varios países en la caja de búsqueda.</p><p>Puedes buscar también por código de País Ej: GB . La búsqueda es por el nombre internacional. Ej: Francia -> France.</p>");
    		}
    		else {
    			html3 = "";
    			bus = "";
    			var ii = 0;
    			for (ii = 0; ii < tot3; ii++) {


    				html3 += '<div class="perfil">';
    				html3 += '	<div class="nombre-perfil">'+lab3[ii]+'</div>';
    				html3 += "<span class='opciones-perfil'><img title='Ver Descripción' src='/images/help.png' border='0' onclick=\"$('#P"+lis3[ii]+"\').slideToggle(250);\">";
    				html3 += " <img src='/images/papelera.png' border='0' onclick='borrapaises("+ii+");'></span>";
    				html3 += '<div class="descripcion-perfil" id="P'+lis3[ii]+'" style="display:none">';
    	    		html3 += '<p>'+ayuda3[ii]+'</p>';
    	    		html3 += "<a class='ocultar-link' href='#' onclick=\"$('#P"+lis3[ii]+"\').slideToggle(250);\">Ocultar la descripción</a>";
    	    		html3 += "</div>";
    				html3 += "</div>";

    				bus += lis3[ii]+",";
    			}
    			$('#mispaises').html(html3);

    			$('#ppaises').val(bus);
    		}
    	};

    	jQuery(function() {

    		var options = {
    		  width: 300,
    		  delimiter: /(,|;)\s*/,
    		  deferRequestBy: 150, //miliseconds
    		  params: { tipo: 'O' },
    		  source: "/busquedapaises.json",
    		  minLength: 2,
    		  select: function(event, ui) {

    			var esta = 0;

    			for (ii = 0; ii < tot3; ii++) {
    				if (lis3[ii] === ui.item.id) {
    					esta = 1;
    				}
    			}
    			if (!esta) {
    				lis3[tot3] = ui.item.id;
    				lab3[tot3] = ui.item.label;
					emp3[tot3] = ui.item.total;
    				ayuda3[tot3] = ui.item.ayuda;
    				tot3 += 1;
    			}

    			pintapaises();
    			$("#query3").val("");
				desactivar();
				
    			return false;
    		  },
    		  noCache: false //set to true, to disable caching
    		};


    		a1 = $('#query3').autocomplete(options);

    	    $('#query3').keypress(function (e) {
    	        var code = null;
    	        code = (e.keyCode ? e.keyCode : e.which);
    	        return (code == 13) ? false : true;
    	    });

    	});


    	//]]>
    	</script>

    </div><!-- /#publicar-od-paises -->

    <div id="publicar-od-datos" class="publicar-seccion">

    	<h4><em>e</em><%=t(:text_empresas_que_cuyos_datos_cumplan_estas_condiciones)%></h4>

    	<div id="filtro-datos-economicos">
    	<table border="0" cellspacing="0">
    		<tr>
    			<td width="350px">
    				<label for="empleados"><%=t(:text_numero_empleados)%></label>

    			</td>
    			<td width="200px">
    				<div id="slider-range"></div>
    			</td>
    			<td>
    	            <input type="text" size="35" id="empleados" readonly="readonly" style="border:0; color:#f6931f; font-weight:bold;" />
    	            <input type="hidden" id="empleados2" style="border:0; color:#f6931f; font-weight:bold;" />
    			</td>
    		</tr>
    	</table>

    	<table border="0" cellspacing="0">
    		<tr>
    			<td width="350px">
    				<label for="compras"><%=t(:text_compras)%></label>
    			</td>
    			<td width="200px">
    				<div id="slider-range3"></div>
    			</td>
    			<td>
    	            <input type="text" size="35" id="compras" readonly="readonly" style="border:0; color:#f6931f; font-weight:bold;" />
    	            <input type="hidden" id="compras2" style="border:0; color:#f6931f; font-weight:bold;" />
    			</td>
    		</tr>
    	</table>

    	<table border="0" cellspacing="0">
    		<tr>
    			<td width="350px">
    				<label for="ventas"><%=t(:text_ventas)%></label>
    			</td>
    			<td width="200px">
    				<div id="slider-range2"></div>
    			</td>
    	        <td>
    	            <input type="text" size="35" id="ventas" readonly="readonly" style="border:0; color:#f6931f; font-weight:bold;" />
    	            <input type="hidden" id="ventas2" style="border:0; color:#f6931f; font-weight:bold;" />
    			</td>
    		</tr>
    	</table>


    	<table border="0" cellspacing="0">
    		<tr>
    			<td width="350px">
    				<label for="resultados"><%=t(:text_resultados)%></label>
    			</td>
    			<td width="200px">
    				<div id="slider-range4"></div>
    			</td>
    			<td>
    	            <input type="text" size="35" id="resultados" readonly="readonly" style="border:0; color:#f6931f; font-weight:bold;" />
    	            <input type="hidden" id="resultados2" style="border:0; color:#f6931f; font-weight:bold;" />
    			</td>
    		</tr>
    	</table>
    	</div><!-- /#filtro-datos-economicos -->

    </div><!-- /#publicar-od-datos -->

        <a class="estimar-empresas" href="#navegar-publicar1" onclick="Estimar(); "><%=t(:text_estimar_empresas_con_estas_condiciones)%></a>
	
 
	<div>

		<div id="estado" style="display: none;" >
			<div id="progressbar" style="display: none"></div>
			<div id="estadotexto" style="display: none"></div>
		</div>

		<div id="estimadas">
		</div><!-- /#estimadas-->

	</div>

	<div class="navegar-publicar" id="navegar-publicar1" style="display:none;">
    	<a class="siguiente" href="#" onclick="$('#ofer1').toggle('slow'); $('#ofer2').toggle('slow'); "><%=t(:text_siguiente_paso_datos_de_la_oferta)%><span>»</span></a>
    </div>
    
	</div>
	
</div><!-- /#ofer1 -->

<div id="ofer2" style="display:none">

	<h3 class="paso-title"><em>3</em><%=t(:text_informacion_de_la_oferta_demanda)%></h3>

	
	<input type="hidden" id="bazarcms_oferta_cid" name="bazarcms_oferta[cid]" />
	<input type="hidden" id="bazarcms_oferta_total_empresas" name="bazarcms_oferta[total_empresas]" />
	<input type="hidden" id="bazarcms_oferta_filtro" name="bazarcms_oferta[filtro]" />
	
    <div id="publicar-od-titulo" class="publicar-seccion">
        <h4><em>a</em><%=t(:text_titulo)%></h4>

		<%= f.text_field :titulo, :size => "60" %>

	</div>
	
	<div id="publicar-od-descripcion" class="publicar-seccion">

        <h4><em>b</em><%=t(:text_descripcion)%></h4>
		<%= f.text_area :texto, :size => "90x12" %>


	</div>
	
	<div id="publicar-od-texto" class="publicar-seccion">
		
		<h4><em>c</em><%=t(:text_texto_del_correo)%></h4>

		<%= f.text_area :texto_correo, :size => "90x12" %>

		
	</div>
	
	<div id="publicar-od-validez" class="publicar-seccion">

		<h4><em>d</em><%=t(:text_validez)%></h4>

		
		 <div class="field"> 
		    <label for="noticia_fecha"><%=t(:text_desde_fecha)%></label> 

				<script> 

					/* TODO estoy hay que localizarlo dependiendo de la lengua elegida */

				$(function() {
					$.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
					$( "#bazarcms_oferta_fecha" ).datepicker( $.datepicker.regional[ "es" ] );
				});

				</script> 

				<input type="text" size="10" name="bazarcms_oferta[fecha]" id="bazarcms_oferta_fecha" value="<%= DateTime.now.strftime("%d/%m/%Y")-%>"/> 
		</div>		
		 <div class="field"> 
		    <label for="noticia_fecha"><%=t(:text_hasta_fecha)%></label> 

				<script> 

					/* TODO estoy hay que localizarlo dependiendo de la lengua elegida */

				$(function() {
					$.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
					$( "#bazarcms_oferta_fecha_hasta" ).datepicker( $.datepicker.regional[ "es" ] );
				});

				</script> 

				<input type="text" size="10" name="bazarcms_oferta[fecha_hasta]" id="bazarcms_oferta_fecha_hasta" value="<%= DateTime.now.strftime("%d/%m/%Y")-%>"/> 
		</div>
	
    </div><!-- /#publicar-od-validez -->


 <% end %> 

    <div class="navegar-publicar">
        <a class="anterior" href="#" onclick="$('#ofer2').toggle('slow'); $('#ofer1').toggle('slow'); "><span>«</span><%=t(:text_anterior)%></a>
       	<a class="publicar-submit" href="#" onclick="publicar(); "><%=t(:text_publicar)%></a>
    </div>


</div><!-- /#ofer2 -->

<div id="ofer3" style="display:none">
	
	<div id="publicar-paso4a" class="publicar-seccion">
	
		<h3 class="paso-title"><em>3</em><%=t(:text_publicando_la_oferta_demanda)%></h3>

		<br/>
		<br/>
		<br/>

		<p><%=t(:text_estamos_enviando_su_oferta_demanda)%><img src="/images/spinner.gif" border="0" /></p>

		<br/>

		<p> <strong><%=t(:text_no_cierre)%></strong><%=t(:text_esta_pagina_o_navegue_hasta_que_le)%><strong><%=t(:text_confirmemos_el_envio)%></strong></p>
	
	</div>
	
</div><!-- /#ofer3 -->


<script type="text/javascript">
 //<![CDATA[

function Estimar() {
	
		s = $("#busca").val();
		if (s.length == 0) {
			s = '*';
		}
		s = s.replace(/ /g, "+");

		emple = $("#empleados2").val();
		ventas = $("#ventas2").val();
		compras = $("#compras2").val();
		resultados = $("#resultados2").val();
		pofertan = $("#pofertan").val();
		pdemandan = $("#pdemandan").val();
		ppaises = $("#ppaises").val();

		$("#estado").show();
		$("#progressbar").show();
		$("#estadotexto").show();

		$("#estadotexto").html('Buscando las empresas a las que se va a enviar la oferta');

		$.ajax({
		  async:true, 
		  url: '/bazarcms/enviabusqueda?q='+s+'&qe='+emple+'&qv='+ventas+'&qc='+compras+'&qr='+resultados+'&pofertan='+pofertan+'&pdemandan='+pdemandan+'&ppaises='+ppaises+'&display=total', 
		  success: function(data) {
		    $('#estimadas').html(data);
			$('#estimadas').show();
		
			clearInterval(actualiza);

			$('#progressbar').hide();
			$("#progressbar").progressbar({ value: 0});

			$('#estadotexto').hide();
			$("#estadotexto").html('');

			clearInterval(actualiza);
		  }
		});

		var actualiza = setInterval(function(){
			
			$.get('/bazarcms/estadobusqueda', function(data) {
				
				$("#progressbar").progressbar({ value: (data[0].empresasconsulta.total_respuestas * 100) / data[0].empresasconsulta.total_consultas});
				$("#estadotexto").html(data[0].empresasconsulta.total_resultados +' Empresas de '+ data[0].empresasconsulta.total_respuestas +' Bazares');
				window.alert(data[0].empresasconsulta.total_resultados);
				if (data[0].empresasconsulta.total_resultados > 0) {
					$("#navegar-publicar1").show();
				}
				else {
					$("#navegar-publicar1").hide();					
				}
				
			});
	     },1000);
		
		
		return false;
};


$(function() {
	$( "#progressbar" ).progressbar({ value: 0});
});


function desactivar() {
	$("#navegar-publicar1").hide();
	$("#estado").hide();
	$("#estimadas").hide();
}


function publicar() {

	titulo = $("#bazarcms_oferta_titulo").val();
	
	if (titulo.length <= 0) {
		$("#bazarcms_oferta_titulo").focus();
		return false;
	}


	
	if ($("#bazarcms_oferta_texto").val().length <= 0) {
		$("#bazarcms_oferta_texto").focus();
		return false;
	}

	
	if ($("#bazarcms_oferta_texto_correo").val().length <= 0) {
		$("#bazarcms_oferta_texto_correo").focus();
		return false;
	}

	
	if ($("#bazarcms_oferta_fecha").val().length <= 0) {
		$("#bazarcms_oferta_fecha").focus();
		return false;
	}
	
	
	if ($("#bazarcms_oferta_fecha_hasta").val().length <= 0) {
		$("#bazarcms_oferta_fecha_hasta").focus();
		return false;
	}

	s = $("#busca").val();
	if (s.length == 0) {
		s = '*';
	}
	s = s.replace(/ /g, "+");

	emple = $("#empleados2").val();
	ventas = $("#ventas2").val();
	compras = $("#compras2").val();
	resultados = $("#resultados2").val();
	pofertan = $("#pofertan").val();
	pdemandan = $("#pdemandan").val();
	ppaises = $("#ppaises").val();

	$('#bazarcms_oferta_filtro').val('q='+s+'&qe='+emple+'&qv='+ventas+'&qc='+compras+'&qr='+resultados+'&pofertan='+pofertan+'&pdemandan='+pdemandan+'&ppaises='+ppaises);

	$('#ofer2').toggle('slow');
	$('#ofer3').toggle('slow');
	
	$('#new_bazarcms_oferta').submit();
	
}

//]]>
</script>





