<a class="volver-home-link" href="/home">&laquo; Volver a la página de búsquedas</a>

<h3 class="titulo-destacado"><%= @oferta.titulo %></h3>

<h4 class="titulo-seccion">
	Detalle de la <%= oferta_tipo(@oferta.tipo) %>
</h4>

<table class="tabla" cellspacing="0">
<tr>
	<th colspan="3">
		Descripción:
	</th>
</tr>

<tr>
	<td colspan=3>
		<br/>
		<span><%= @oferta.texto.gsub(/\n/,'<br/>').html_safe %></span>
		<br/><br/>
	</td>
</tr>

<tr>
	<th scope="row">
		Validez: 
	</th>
	<td colspan="2">
		Del <%= @oferta.fecha.strftime("%d-%m-%Y") %> al <%= @oferta.fecha_hasta.strftime("%d-%m-%Y") %>
	</td>
</tr>


<tr>
	<th scope="row">
		Página Web con más información:
	</th>
	<td colspan="2">
		-
	</td>
</tr>

<tr>
	<th scope="row">
		Se ha enviado a:
	</th>
	<td colspan="1">
		<%= @oferta.total_empresas %> Empresas 
	</td>
</tr>

<tr>
	<th scope="row">
		Mostrada:
	</th>
	<td colspan="1">
		<%= @oferta.vistas %>
	</td>
</tr>

<tr>
	<th scope="row">
		Clicks en la información:
	</th>
	<td colspan="1">
		<%= @oferta.clicks %>
	</td>
</tr>

<tr>
	<th scope="row">
		Se ha visitado un:
	</th>
	<td colspan="1">
		<% if @oferta.vistas > 0 %>
			<%= @oferta.clicks * 100 / @oferta.vistas -%> % de las veces que se ha mostrado.
		<% else %>
			No se ha mostrado nunca.
		<% end %>
	</td>
</tr>

</table>

<h4 class="titulo-seccion">Empresas destinatarias de esta <%= oferta_tipo(@oferta.tipo) %></h4>

<br/>
<br/>

<div>

<b>Empresas que cumplan: </b>
<br/>
<br/>

<%= sql2texto(@oferta.filtro).html_safe %>
</div>

<br/>
<br/>

<h4 class="titulo-seccion">Información de la Empresa que publica esta <%= oferta_tipo(@oferta.tipo) %></h4>

<br/>

<div id="infoempresa">
	<%= @infoempresa.html_safe %>
</div>

<script type="text/javascript" charset="utf-8">

var tam = <%= @infoempresa.length -%>;
if (tam == 0) 
	$('#infoempresa').load("/bazarcms/empresas/<%= @oferta.empresa_id -%>?bazar_id=<%= @oferta.bazar_id -%>&display=inside");

	
</script>

