
<%= form_for(@ubicacion, :html => { :onsubmit => "return validar();" }) do |f| %>
  <% if @ubicacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ubicacion.errors.count, "error") %><%=t(:text_prohibited_this_ubicacion_from_being_saved)%></h2>

      <ul>
      <% @ubicacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :empresa_id %>
 
<table class="tabla" cellspacing="0">
<tr>
  <td>
  <b><%= f.label :Descripci贸n %>:</b>
  </td>
  <td>
  <%= f.text_field :desc %>
  </td>
</tr>
<tr>
  <td>
    <b><%= f.label :Ciudad %>:</b>
  </td>
  <td>
    <%= f.hidden_field :ciudad_id %>
	<% 
	if !@ubicacion.ciudad.nil?
		ciudad = @ubicacion.ciudad.descripcion
	else 
		ciudad = ""
	end
	%>
    <%= text_field(:ciudad, :id, :value => ciudad ,:class => "auto_search_complete") %>
  </td>
</tr>
</table>

  <div class="actions" style="display:block;">
    <%= f.submit "Guardar" %> <a href="#" title="Cancelar" onclick="$('#nuevaubicacion').css('display','none');"><%= image_tag('delete.png')%></a>
  </div>
<% end %>

<script type="text/javascript">

function validar() {
	
	valido = 1; 

	if ($("#bazarcms_ubicacion_desc" ).val() == "") {
		window.alert ("Rellene el campo descripci贸n de la ubicaci贸n. Ejemplo: Oficinas centrales.");
		valido = 0;
	}

	if ($("#bazarcms_ubicacion_ciudad_id" ).val() == "") {
		window.alert ("Debe seleccionar una ciudad de la lista que aparece mientras escribe el nombre de su ciudad.");
		$("#ciudad_id" ).val( $("#ciudad_id").val().substring(0,3) );
		$("#ciudad_id" ).focus();
		valido = 0;
	}

//	window.alert ("Rellene el campo descripci贸n y escoja una ciudad de la lista."+valido+" "+$("#bazarcms_ubicacion_ciudad_id" ).val()+" "+$("#bazarcms_ubicacion_desc" ).val());

	if (valido == 0) {
		return false;		
	}
	else {
		return true;		
	}

};


$(document).ready(function() {
	
	$(".auto_search_complete").autocomplete({
	    source: "/busquedaciudades.json",
		delay: 200,
	    minLength: 2,
		select: function(event, ui) {
			$("#ciudad_id").val( ui.item.label );
			$("#bazarcms_ubicacion_ciudad_id" ).val( ui.item.id );
			return false;
		}
	
	});



});
</script>

