<%= form_for(@ubicacion) do |f| %>
  <% if @ubicacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ubicacion.errors.count, "error") %> prohibited this ubicacion from being saved:</h2>

      <ul>
      <% @ubicacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :empresa_id %>
 
<table class="tabla">
<tr>
  <td>
  <b><%= f.label :Descripción %>:</b>
  </td>
  <td>
  <%= f.text_field :desc %>
  </td>
</tr>
<tr>
  <td>
  <b><%= f.label :Ciudad %>:</b>
  </td>
  <td>
  <%= f.autocomplete_field :ciudad_id, autocomplete_ciudad_descripcion_bazarcms_ubicaciones_path %>
  </td>
</tr>
</table>

  <div class="actions">
    <%= f.submit "Guardar" %> <a href="#" onclick="$('#nuevaubicacion').css('display','none');">Cerrar<%= image_tag('delete.png')%></a>
  </div>
<% end %>
