
<%= form_for(@ubicacion) do |f| %>
  <% if @ubicacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ubicacion.errors.count, "error") %> prohibited this ubicacion from being saved:</h2>

      <ul>
      <% @ubicacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :empresa_id %>
 
<table class="tabla" cellspacing="0">
<tr>
  <td>
  <b><%= f.label :Descripción %>:</b>
  </td>
  <td>
  <%= f.text_field :desc %>
  </td>
</tr>
<tr>
  <td>
    <b><%= f.label :Ciudad %>:</b>
  </td>
  <td>
    <%= f.hidden_field :ciudad_id %>
	<% 
	if !@ubicacion.ciudad.nil?
		ciudad = @ubicacion.ciudad.descripcion
	else 
		ciudad = ""
	end
	%>
    <%= text_field(:ciudad, :id, :value => ciudad ,:class => "auto_search_complete") %>
  </td>
</tr>
</table>

  <div class="actions">
    <%= f.submit "Guardar" %> <a href="#" title="Cancelar" onclick="$('#nuevaubicacion').css('display','none');"><%= image_tag('delete.png')%></a>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
	
	$(".auto_search_complete").autocomplete({
	    source: "/busquedaciudades.json",
	    minLength: 2,
		select: function(event, ui) {
			$("#ciudad_id").val( ui.item.label );
			$("#bazarcms_ubicacion_ciudad_id" ).val( ui.item.id );
			return false;
		}
	
	});

});
</script>

