<h1><%=t(:text_listing_ubicaciones)%></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ubicaciones.each do |ubicacion| %>
  <tr>
    <td><%= link_to t(:label_show), ubicacion %></td>
    <td><%= link_to t(:label_edit), edit_bazarcms_ubicacion_path(ubicacion) %></td>
    <td><%= link_to t(:label_destroy), ubicacion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:label_new_ubicacion), new_bazarcms_ubicacion_path %>
