<%= javascript_include_tag 'jquery.pageless' -%>

<a class="volver-home-link" href="/home"><%=t(:text_volver_a_la_pagina_de_busquedas)%></a>
<%= link_to t(:label_borrar_todas_las_consultas_realizadas), '/bazarcms/borrarconsultasofertas', :confirm => 'Seguro?', :class => 'volver-home-link' %>

<h3 class="page-title"><%=t(:text_consultas_realizadas_a_ofertas)%></h3>

<table id="results" class="tabla" cellspacing="0">

	<% if @ofertasconsultas.current_page == 1 %>
	<tr>
	    <th><%=t(:text_consulta)%></th>
	    <th><%=t(:text_bazares)%></th>
	    <th><%=t(:text_total)%></th>
	    <th><%=t(:text_lanzada)%></th>
	    <th colspan="3"><%=t(:text_acciones)%></th>
	 </tr>
	<% end %>
	
	<%= render(:partial => "ofertasconsulta", :collection => @ofertasconsultas) %>
	
</table>

<br />

<%= pageless(@ofertasconsultas.total_pages, '/ofertasconsultas2') %>


